[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
psycopg2 = "*"
pillow = "*"
cloudinary = "*"
whitenoise = "*"
django-cloudinary-storage = "*"
coverage = "*"
django-heroku = "*"
dj-database-url = "*"
gunicorn = "*"
django-richtextfield = "*"
django-ckeditor = "*"
django-countries = "*"
six = "*"
rave-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
