{% extends 'navs/base.html' %} {% block title %}<title>Initiate Payment</title>{% endblock %} {% block content %}
<div class="auth-form-container">
      <p>Make Payment {{store.curency.symbol}} {{payment.amount}}</p> 
      <script src="https://js.paystack.co/v1/inline.js"></script>   
      <button  onclick="payWithPayStack()" id="django-paystack-button">Make Payment</button>  
</div>
<script>
    function payWithPayStack(){
        let currency = '{{store.curency.code}}';
        let plan = "";
        let ref = "{{payment.ref}}";
        let obj = {
            key: "{{paystack_public_key}}",
            email: '{{payment.email}}',
            amount: '{{payment.amount_value}}',
            ref: ref,
            callback: function(response){
                window.location.href = "{% url 'payment:verify_payment' payment.ref %}"
            }
        }

        if (Boolean(currency)){
            obj.currency = currency.toUpperCase()
        }

        if (Boolean(plan)){
            obj.plan = plan;
        }

        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    
    }
</script>
{% endblock %}
