{% extends 'navs/base.html' %} {% load humanize %} {% block title %}<title>Shipping Payment</title>{% endblock %} {% block content %}
<div class="auth-form-container">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="above-create-form">
      <p>Shipping Payment</p>
      <p id="result"></p>
    </div>
    <div class="acc-form-seg">
      <p>{{payment.state}}, {{payment.country}}</p>
      <div class="input-container">
        <p id="shipping-method-error" class="error">{{ payment_form.shipping_method.errors }}</p>
        
        {% if payment.store.shipping_company %}
        {% if payment.store.country == 'Nigeria' and payment.store.state == 'Lagos' %}
        {% if payment.country == 'Nigeria' and payment.state == 'Lagos' %}
        {% if shipping_methods %}
        {% for shipping_method in shipping_methods %}
        <div class="radio-form">
          <input
            type="radio"
            name="shipping_method"
            id="{{shipping_method.id}}"
            value="{{shipping_method.id}}"
            class="{{shipping_method.total_funds}}"
          />
          <label for="{{shipping_method}}"
            >
            <span>
              {{shipping_method.location}}
            </span>
            <span
              >{{order.currency_symbol}}<span class="{{shipping_method.total_funds}}" id="{{shipping_method.id}}"
                >{{shipping_method.total_funds|intcomma}}</span
              ></span
            ></label
          >
        </div>
        {% endfor %}
        {% endif %}

        {% else %}
        <p>Shipment of parcel to this location is not generally active now. For an alternative;</p>
          <a href="{% url 'payment:logistics_proposal_email' order.id %}">Send a proposal</a>
        {% endif %}
      

        {% else %}
        <p>Picking up orders from {{payment.store.store_name|title}} location is not within our reach for now, but if you insist;</p>
         <a href="{% url 'payment:logistics_proposal_email' order.id %}">Send a proposal</a>
        {% endif %}

       


        {% else %}
        <p>{{payment.store.store_name|title}} store has not set a delivery service</p>
        <a href="{% url 'app:store_review' payment.store.slugified_store_name %}">Send a store review</a>
        {% endif %}

      </div>
    </div>


    <div class="form-btn-container">
      <button class="form-btn" type="submit">
        Init <span id="total"></span>
      </button>
    </div>
  </form>
</div>
<script>
  const formButton = document.querySelector(".form-btn");

  $(document).ready(function () {
    if ($("input[name=shipping_method]:checked").length == 0) {
      $("button.form-btn").addClass("disable");
    }

    $("input[name=shipping_method]").change(function () {
      if ($("input[name=shipping_method]:checked").length > 0) {
        $("button.form-btn").removeClass("disable");
      }

    });
});

 $("input[name='shipping_method']").on("click", function (event) {
        var shipping_method_price = $(this).attr("class");
        var currency_symbol = "{{order.currency_symbol}}";
        var total = parseInt(shipping_method_price);
        var total = currency_symbol + total.toLocaleString("en-US");
        $("#result").html(total);
        document.getElementById("total").innerHTML = total;
      });

</script>

{% endblock %}
