{% autoescape off %} {% load humanize %}
Hello {{ store.store_name|capfirst }},

{{beneficiary_name|capfirst }} ({{payment.email}}) just paid a total amount of {{currency}}{{payment.amount|intcomma}} for an order placed on your store, on the Shopit platform.

Your {{payment.order.currency_code}} wallet should have recieved the payment for the order. 

For more information and details on the order, kindly click this link https://{{domain}}

Thank you for your continued support.

Regards,
Shopit Team
{% endautoescape %}
