{% extends 'navs/store-nav.html' %} {% load static %} {% block title %} <title>Shopit - Add Staff </title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}

  <div class="account-form-container">
    <form action="" method="post">
      {% csrf_token %}
      <div class="above-create-form">
        <p>Add Staff</p>
      </div>
      <div class="acc-form-seg">
        {% if error %}
        <p class="login-errors">{{error}}</p>
        {% endif %}
        {% if messages %} {% for message in messages %}
    <small class="error">{{message}}</small>
    {% endfor %} {% endif %}
        <div class="input-container">
          <label for="email">Email<span class="form-required">*</span></label>
          <p>{{ form.email.errors }}</p>
          <div>{{ form.email }}</div>
        </div>
      
      <div class="form-btn-container">
        <button class="form-btn" type="submit">Add staff</button>
      </div>
    </form>


  </div>
</div>

{% endblock %}
