{% extends 'navs/base.html' %} {% load static %} {% block title %} <title>Shop!t - Sign In</title> {% endblock %} {%block content %}
<div class="auth-form-container position-absolute-center">
  <form action="{% url 'account:login' %}" method="post">
    {% csrf_token %}
    <div class="above-create-form">
      <p>Sign In</p>
    </div>
    {% if messages %} {% for message in messages %}
    <p class="login-errors">{{message}}</p>
    {% endfor %} {% endif %}
    {% if error %}
    <p class="login-errors">{{error}}</p>
    {% endif %}
    <div class="input-container">
      <label for="email">Email<span class="form-required">*</span></label>
      <input class="form-control" type="text" name="email" id="email" placeholder="johndoe@gmail.com" />
    </div>

    <div class="input-container">
      <label for="password">Password<span class="form-required">*</span></label>
      <p>{{ password_error }}</p>
      <input class="form-control" type="password" name="password" id="password" placeholder="********" />
    </div>

    <button class="form-btn" type="submit">Sign In</button>
  </form>

  <div class="form-bottom">
    <a href="{% url 'account:password_reset' %}">Forgot Password?</a>
  </div>
</div>

{% endblock %}
