{% extends 'navs/store-nav.html' %} {% load static %}{% load humanize %}{% block title %}<title>
  Shop !t - {{store }} Shipping Method
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      <p>{{store |capfirst}} Shipping Method</p>
      <span ><a href="{% url 'account:add_shipping_method' %}">Add Shipping Method</a></span>
      <div class="table-container">
        <table class="store-products-table">
        <tr class="table-rows">
          <th>Location</th>
          <th>Price</th>
          {% if request.user.store_creator == True %}
          <th>Edit</th>
          <th>Delete</th>
          {% endif %}
        </tr>
        {% for shipping_method in shipping_methods %}
        <tr class="table-rows">
          <td>{{ shipping_method.location }}</td>
          <td>{{store.currency.symbol}}{{ shipping_method.price|intcomma }}</td>
          {% if request.user.store_creator == True %}
          <td>
            <button type="button" class="update-btn">
              <a href="{% url 'account:edit_shipping_method' shipping_method.pk  %}"><i class="far fa-edit"></i>Update</a>
            </button>
          </td>
          <td>
            <button type="button" class="delete-btn">
              <a href="{% url 'account:delete_shipping_method' shipping_method.pk %}"><i class="fas fa-trash-alt"></i>Delete</a>
            </button>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      </div>
    </span>
  </div>
  {% endblock %}
</div>
