{% extends 'navs/store-nav.html' %} {% load static %}{% load humanize %}{% block title %}<title>
  Shop !t - {{store }} Shipping Method
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      {% if store.shipping_company %}
      <p>{{store.shipping_company|title}} Shipping Details</p>
      {% else %}
      <p>Shipping Details</p>
      {% endif %}
      {% if messages %} {% for message in messages %} {% if message %}
    <small class="error">{{message}}</small>
    {% endif %} {% endfor %} {% endif %}
      {% if request.user.is_superuser %}
       <span ><a href="{% url 'app:add_shipping_method' %}">Add Shipping Method</a></span>
      {% endif %}
      <div class="table-container">
        <table class="store-products-table">
        <tr class="table-rows">
          {% if request.user.is_superuser %}
          <th>Company</th>
          {% endif %}
          <th>Location</th>
          <th>Price</th>
          <th>State</th>
          <th>Country</th>
          {% if request.user.is_superuser %}
          <th>Delete</th>
          {% endif %}
        </tr>
        {% for shipping_method in shipping_methods %}
        <tr class="table-rows">
          {% if request.user.is_superuser %}
          <td>
            {{shipping_method.shipping_company}}
          </td>
          {% endif %}
          <td>
            {% if request.user.is_superuser %}
            <a href="{% url 'app:edit_shipping_method' shipping_method.pk  %}"> {{ shipping_method.location }}</a>
            {% else %}
            {{ shipping_method.location }}
            {% endif %}
          </td>
          <td>{{store.currency.symbol}}{{ shipping_method.total_funds|intcomma }}</td>
          <td>{{shipping_method.state}}</td>
          <td>{{shipping_method.country}}</td>
          {% if request.user.is_superuser %}
          <td>
             <button type="button" class="delete-btn">
              <a href="{% url 'app:delete_shipping_method' shipping_method.pk %}"><i class="fas fa-trash-alt"></i>Delete</a>
            </button>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      </div>

      {% if shipping_methods.has_other_pages %}
      <span class="pagination">
        <span>
          {% for i in shipping_methods.paginator.page_range %} {% if shipping_methods.number == i %} Showing
          {{shipping_methods.start_index }} of {{ shipping_methods.end_index }} of {{ shipping_methods.paginator.count }} 
          entries {% endif %} {% endfor %}
        </span>

        <span>
          {% if reviews.has_previous %}
          <a href="?page={{ shipping_methods.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-left disable"></i></span>
          {% endif %} {% if shipping_methods.has_next %}
          <a href="?page={{ shipping_methods.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-right disable"></i></span>
          {% endif %}
        </span>
      </span>
      {% endif %}

    </span>
  </div>
 
</div>
 {% endblock %}
