{% extends 'navs/store-nav.html' %} {% load static %} {% block title %}
<title>Shopit - {{store.store_name}} Newsletter</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}

  <div class="store-content-container">
    <p> {% if store_newsletter %}{{store.store_name|title }} Newsletter - {{subscribers.count}} subscribed  {% else %}Newsletter{% endif %}</p>
    {% if messages %} {% for message in messages %} {% if message %}
    <small class="error">{{message}}</small>
    {% endif %} {% endfor %} {% endif %}
    {% if not store_newsletter%}
    <span>
        <a href="{% url 'app:generate_store_newsletter' %}">Generate Newsletter</a>
    </span>
    {% endif %}
    {% if form %}
    <form action="" method="post" enctype="multipart/form-data" class="create-product-form">
      <div class="above-create-form">
        {% if 'edit' in request.get_full_path %}
        <p>Edit Newsletter Draft</p>
        {% else %}
        <p>Create Newsletter</p>
        {% endif %}
      </div>
      {% csrf_token %}
      <div class="pricing-quantity-seg">
        <div class="input-container">
          <label for="title">Title<span class="form-required">*</span></label>
          <p id="form-error"></p>
          {{form.title}}
        </div>

        <div class="input-container">
          {{ form.media }}
          <label for="">Body<span class="form-required">*</span></label>
          <p id="form-error"></p>
          <div class="product-detail-input">{{ form.body }}</div>
        </div>
      </div>
      
      <div class="form-btn-container">
        <div>
            {% if 'edit' in request.get_full_path %}
            <a href="{% url 'app:edit_draft_newsletter' get_newsletter %}" id="save-edit-as-draft"> Save as Draft </a>
            {% else %}
            <a href="{% url 'app:draft_newsletter' %}" id="save-as-draft"> Save as Draft </a>
            {% endif %}
            <a href="{% url 'app:publish_newsletter' %}" id="publish-newsletter"> Publish Newsletter </a>
        </div>
      </div>
    </form>
    {% endif %}
    {% if newsletters %}
      <p>Newsletter Drafts</p>

      <div class="table-container">
        <table class="store-products-table">
        
        <tr class="table-rows">
          <th>Title</th>
          <th>Updated</th>
          <th>Created</th>
          <th>Delete</th>
        </tr>

        {% for newsletter in newsletters %} 
        <tr class="table-rows">
          <td><a href="{% url 'app:edit_draft_newsletter' newsletter.pk %}">{{newsletter.title|truncatechars:20}}</a></td>
            <td>{{newsletter.updated|timesince}}</td>
          <td>{{newsletter.created|timesince}}</td>
          <td><button type="button" class="delete-btn">
              <a href="{% url 'app:delete_draft_newsletter' newsletter.pk %}"><i class="fas fa-trash-alt"></i>Delete</a>
            </button>
        </td>
        </tr>
        {% endfor %}
      </table>
      </div>
      {% if newsletters.has_other_pages %}
      <span class="pagination">
        <span>
          {% for i in newsletters.paginator.page_range %} {% if newsletters.number == i %} Showing
          {{newsletters.start_index }} of {{ newsletters.end_index }} of {{ newsletters.paginator.count }} 
          entries {% endif %} {% endfor %}
        </span>

        <span>
          {% if newsletters.has_previous %}
          <a href="?page={{ newsletters.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-left disable"></i></span>
          {% endif %} {% if newsletters.has_next %}
          <a href="?page={{ newsletters.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-right disable"></i></span>
          {% endif %}
      </span>
      </span>
      {% endif %}
   {% endif %}
  </div>
</div>
<script>
    const form = document.querySelector('.create-product-form');
    const saveDraftBtn =  document.getElementById('save-as-draft');
    const publishBtn = document.getElementById('publish-newsletter');
    const saveEditBtn = document.getElementById('save-edit-as-draft');


    saveDraftBtn.addEventListener('click', (e) => {
        e.preventDefault();
        form.action = "{% url 'app:draft_newsletter' %}";
        form.submit();
    } );

    publishBtn.addEventListener('click', (e) => {
        e.preventDefault();
        form.action = "{% url 'app:publish_newsletter' %}";
        form.submit();
    } );


</script>
{% endblock %}
