{% extends 'navs/store-nav.html' %} {% load static %} {% block title %}
<title>Shop!t - {{store}} Bank details</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <form action="" method="post" enctype="multipart/form-data" class="create-product-form">
      <div class="above-create-form">
        <p>Bank Details</p>
      </div>
      {% csrf_token %}
      <div class="input-container">
        <label for="name">Product Name<span class="form-required">*</span></label>
        <p class="error">{{error}}</p>
        <p>{{ form.name.errors }}</p>
        {{form.name}}
      </div>

      <div class="input-container">
        <label for="category">Product Category<span class="form-required">*</span></label>
        <p>{{ form.category.errors }}</p>
        <select class="form-control" name="category" id="category">
          {% for category in categories %}
          <option value="{{ category.pk }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="input-container">
        <label for="description">Short Description<span class="form-required">*</span></label>
        <p>{{ form.description.errors }}</p>
        {{form.description}}
      </div>

      <div class="form-btn-container">
        <button class="form-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
