{% extends 'navs/store-nav.html' %} {% load static %} {% block title %}
<title>Shopit - {{store}} Bank details</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <form action="{% url 'account:bank_details' %}" method="post" enctype="multipart/form-data" class="create-product-form">
      <div class="above-create-form">
        <p>Bank Details</p>
      </div>
      {% csrf_token %}
      <p class="error">{{error}}</p>
      {% if messages %} {% for message in messages %} {% if message %}
    <small class="error">{{message}}</small>
    {% endif %} {% endfor %} {% endif %}
      <div class="input-container">
        <label for="bank_name">Bank Name<span class="form-required">*</span></label>
        <p>{{ form.bank_name.errors }}</p>
        <select class="form-control" name="bank_name" id="bank_name">
          {% if bank_info %}
          <option value="{{bank_info.bank_name}}" selected>{{bank_info.bank_name}}</option>
          {% endif %}
          {% for bank, code in all_banks.items %}
          <option value="{{bank}}">{{bank}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="input-container">
        <label for="account_name">Account Name<span class="form-required">*</span></label>
        <p>{{ form.account_name.errors }}</p>
        {{form.account_name}}
      </div>

      <div class="input-container">
        <label for="account_number">Account Number<span class="form-required">*</span></label>
        <p>{{ form.account_number.errors }}</p>
        {{form.account_number}}
      </div>
      <div class="form-btn-container">
        <button class="form-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
