{% extends 'navs/store-nav.html' %} {% load static %}{% block title %}<title>
 Shopit - {{request.user }} Products
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      <p>All Category</p>
      <span ><a href="{% url 'app:create_category' %}">Add Category</a></span>
      <div class="table-container">
        <table class="store-products-table">
        <tr class="table-rows">
          <th>Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        {% for category in categories %}
        <tr class="table-rows">
          <td><a href="{{category.get_absolute_url}}">{{ category.name }}</a></td>
          <td>
            <button type="button" class="update-btn">
              <a href="{% url 'app:edit_category' category.slug  %}"><i class="far fa-edit"></i>Update</a>
            </button>
          </td>
          <td>
            <button type="button" class="delete-btn">
              <a href="{% url 'app:delete_category' category.slug  %}"><i class="fas fa-trash-alt"></i>Delete</a>
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>

      {% if categories.has_other_pages %}
      <span class="pagination">
        <span>
          {% for i in categories.paginator.page_range %} {% if categories.number == i %} Showing
          {{categories.start_index }} of {{ categories.end_index }} of {{ categories.paginator.count }} 
          entries {% endif %} {% endfor %}
        </span>

        <span>
          {% if categories.has_previous %}
          <a href="?page={{ categories.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-left disable"></i></span>
          {% endif %} {% if categories.has_next %}
          <a href="?page={{ categories.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-right disable"></i></span>
          {% endif %}
        </span>
      </span>
      {% endif %}


    </span>
  </div>
  {% endblock %}
</div>
