{% extends 'navs/store-nav.html' %} {% load static %}{% block title %}<title>
 Shopit - {{request.user }} Coupon Codes
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      <p>Coupon Codes</p>
      {% if request.user.store_creator == True %}
      <span><a href="{% url 'app:create_coupon' %}">Add Coupon</a></span>
      {% endif %}
      <div class="table-container">
        <table class="store-products-table">
        <tr class="table-rows">
          <th>Code</th>
          <th>Percentage</th>
          <th>Created</th>
          <th>Expiry(mins)</th>
          {% if request.user.store_creator == True %}
          <th>Delete</th>
          {% endif %}
        </tr>
        {% for coupon in coupons %}
        <tr class="table-rows">
          <td>{{ coupon.code }}</td>
          <td>{{ coupon.percentage}} %</td>
          <td>{{ coupon.created_at|timesince}}</td>
          <td>{{coupon.expiry_date}} mins</td>
          {% if request.user.store_creator == True %}
          <td>
            <button type="button" class="delete-btn">
              <a href="{% url 'app:delete_coupon' coupon.pk  %}"><i class="fas fa-trash-alt"></i>Delete</a>
            </button>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      </div>

      {% if coupons.has_other_pages %}
      <span class="pagination">
        <span>
          {% for i in coupons.paginator.page_range %} {% if coupons.number == i %} Showing
          {{coupons.start_index }} of {{ coupons.end_index }} of {{ coupons.paginator.count }} 
          entries {% endif %} {% endfor %}
        </span>

        <span>
          {% if coupons.has_previous %}
          <a href="?page={{ coupons.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-left disable"></i></span>
          {% endif %} {% if coupons.has_next %}
          <a href="?page={{ coupons.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-right disable"></i></span>
          {% endif %}
        </span>
      </span>
      {% endif %}


    </span>
  </div>
  {% endblock %}
</div>
