{% extends 'navs/store-nav.html' %} {% load static %} {% block title %}
<title>Shop!t - {% if 'create' in request.get_full_path %} Create Category {% else %} Edit Category {% endif %}</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}

  <div class="store-content-container">
    <form action="" method="post" enctype="multipart/form-data" class="create-product-form">
      <div class="above-create-form">
        {% if 'create' in request.get_full_path %}
        <p>Create Category</p>
        {% else %}
        <p>Edit Category</p>
        {% endif %}
      </div>
      {% csrf_token %}
      <div class="input-container">
        <label for="name">Name<span class="form-required">*</span></label>
        <p class="error">{{error}}</p>
        <p>{{ form.name.errors }}</p>
        {{form.name}}
      </div>

      <div class="form-btn-container">
        <button class="form-btn" type="submit">
          {% if 'create' in request.get_full_path %} Create {% else %} Update {% endif %}
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
