{% extends 'navs/store-nav.html' %} {% load static %}{% block title %}<title>
 Shopit - {{request.user.store_name }} Customers
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      <p>
        {{customers.count}}{% if customers.count > 1 %}
        Customers
        {% else %}
        customer
        {% endif %}
      </p>
      <div class="table-container">
        <table class="store-products-table">
        <tr class="table-rows">
          <th>Name</th>
          <th>Email</th>
        </tr>
        {% for customer in customers %}
        <tr class="table-rows">      
          <td><a href="{% url 'app:store_customers_details' customer.pk %}">{{customer.full_name}}</a></td>
          <td>{{ customer.email }}</td>
        </tr>
        {% endfor %}
      </table>
      </div>

      {% if customers.has_other_pages %}
      <span class="pagination">
        <span>
          {% for i in customers.paginator.page_range %} {% if customers.number == i %} Showing
          {{customers.start_index }} of {{ customers.end_index }} of {{ customers.paginator.count }} 
          entries {% endif %} {% endfor %}
        </span>

        <span>
          {% if customers.has_previous %}
          <a href="?page={{ customers.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-left disable"></i></span>
          {% endif %} {% if customers.has_next %}
          <a href="?page={{ customers.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-right disable"></i></span>
          {% endif %}
        </span>
      </span>
      {% endif %}

    </span>
  </div>
  {% endblock %}
</div>
