{% extends 'navs/store-nav.html' %} {% load static %}{% load humanize %}{% block title %}<title>
  {{store.store_name|capfirst }} - Customer details
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="order-detail-content">
      <p>Customer Details</p>
      <div>
        <div>Full Name</div>
        <p>{{customer_user.full_name|capfirst}}</p>
      </div>

      <div>
        <div>Joined {{store.store_name}}</div>
        <p>{{customer.time|timesince}}</p>
      </div>

      <div>
        <div>Email</div>
        <p>{{customer_user.email}}</p>
      </div>

      <div class="order-detail-products-block">
        <p>Orders</p>
        <div class="table-container">
          <table class="store-products-table">
            <thead>
              <tr class="table-rows">
                <th>Order Id</th>
                <th>Amount</th>
                <th>Billing Status</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr class="table-rows">
                <td><a href="{% url 'app:store_order_detail' order.pk %}">{{order.id|truncatechars:12}}</a></td>
                <td>{{order.currency_symbol}}{{order.amount}}</td>
                <td>{% if order.billing_status == True %} Paid {% else %} Unpaid {% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if orders.has_other_pages %}
        <span class="pagination">
          <span>
            {% for i in orders.paginator.page_range %} {% if orders.number == i %} Showing {{orders.start_index }} of 
            {{ orders.end_index }} of {{ orders.paginator.count }} entries {% endif %} {% endfor %}
          </span>

          <span>
            {% if orders.has_previous %}
            <a href="?page={{ orders.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% else %}
            <span><i class="fas fa-arrow-left disable"></i></span>
            {% endif %} {% if orders.has_next %}
            <a href="?page={{ orders.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% else %}
            <span><i class="fas fa-arrow-right disable"></i></span>
            {% endif %}
          </span>
        </span>
        {% endif %}
      </div>

      <div class="order-detail-products-block">
        <p>Reviews</p>
        <div class="table-container">
          <table class="store-products-table">
            <thead>
              <tr class="table-rows">
                <th>Review</th>
                <th>Date Created</th>
              </tr>
            </thead>
            <tbody>
              {% for review in reviews %}
              <tr class="table-rows">
                <td><a href="{% url 'app:store_review_detail' review.id %}">{{review.title|truncatechars:40}}</a></td>
                <td>{{ review.created }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if reviews.has_other_pages %}
        <span class="pagination">
          <span>
            {% for i in reviews.paginator.page_range %} {% if reviews.number == i %} Showing {{reviews.start_index }} of 
            {{ reviews.end_index }} of {{ reviews.paginator.count }} entries {% endif %} {% endfor %}
          </span>

          <span>
            {% if reviews.has_previous %}
            <a href="?page={{ reviews.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% else %}
            <span><i class="fas fa-arrow-left disable"></i></span>
            {% endif %} {% if reviews.has_next %}
            <a href="?page={{ reviews.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% else %}
            <span><i class="fas fa-arrow-right disable"></i></span>
            {% endif %}
          </span>
        </span>
        {% endif %}
      </div>
    </span>
  </div>
</div>
{% endblock %}
