{% extends 'navs/store-nav.html' %}{% load humanize %} {% load static %}{% block title %}<title>
 Shopit - Store {% if 'unpaid' in request.get_full_path %} Unpaid {% endif %}Orders
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      <p>Notifications</p>

      <div class="notification-list">
        {% if user.notifications.unread %}
        <div class="notifications-container">
          {% for notification in user.notifications.unread %}
          <ul>
            <li class="notification-list-li unread-notification">
              <a href="{% url 'app:mark_notification_read' notification.id %}"><span>{{ notification.verb }}</span>
               <p>{{notification.timestamp.date}} - {{notification.timestamp.time}}</p>
               </a>
            </li>
           
          </ul>
          {% endfor %}
          {% for notification in user.notifications.read %}
          <ul>
            <li class="notification-list-li">
              <a href="{% url 'app:mark_notification_read' notification.id %}"><span>{{ notification.verb }}</span>
               <p>{{notification.timestamp.date}} - {{notification.timestamp.time}}</p>
               </a>
            </li>
           
          </ul>
          {% endfor %}
        </div>
        <p id="view-more-notification">View more notification</p>
        {% else %}
        <p>There's nothing new here</p>

        {% endif %}
      </div>
    </span>
  </div>
</div>
<script>
  var notificationList = document.getElementsByClassName("notification-list-li");
  var viewMoreNotification = document.getElementById("view-more-notification");
  var notificationListLength = notificationList.length;

  if (notificationListLength > 10) {
    for (var i = 10; i < notificationListLength; i++) {
      notificationList[i].style.display = "none";
    }
  } else {
    viewMoreNotification.style.display = "none";
  }

  $("#view-more-notification").click(function () {
    $(".notification-list-li:hidden").slice(0, 10).slideDown(); 
    if ($(".notification-list-li:hidden").length == 0) {
      $("#view-more-notification").fadeOut('slow');
    }
  });

</script>
{% endblock %}
