{% extends 'navs/store-nav.html' %} {% load static %} 
{% block title %} 
<title>Shopit - 
  {% if 'create' in request.get_full_path %}
        Create Shipping Method{% else %}Edit Shipping Method
  {% endif %}</title>
{% endblock %}
{% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
   
    <form action="" method="post" enctype="multipart/form-data" class="create-product-form">
       <div class="above-create-form">
         {% if 'create' in request.get_full_path %}
        <p>Create Shipping Method</p>
        {% else %}
        <p>Edit Shipping Method</p>
        {% endif %}
      </div>
      {% csrf_token %}

      <div class="input-container">       
        <label for="shipping_company">Company<span class="form-required">*</span></label>
        <p class="error"> {{error}}</p>
        <p>{{ form.shipping_company.errors }}</p>
        {{form.shipping_company}}
      </div>

      <div class="input-container">
        <label for="country">Country<span class="form-required">*</span></label>
        <p class="error">{{ country_error }}</p>
        <select name="country" class="form-control" id="country">
          {% if 'create' in request.get_full_path %}
          <option value="">Select Country</option>
          {% else %}
          <option value="{{ shipping_method.country_code }}">{{ shipping_method.country }}</option>
          {% endif %}
          {% for key, value in country_names %}
          <option value="{{ value }}">{{ key }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="input-container">
        <label for="state">State<span class="form-required">*</span></label>
        <p class="error">{{ state_error }}</p>
        <select name="state" id="state" class="states form-control">
          {% if 'create' in request.get_full_path %}
          <option value="">Select State</option>
          {% else %}
          <option value="{{ shipping_method.state_code }}">{{ shipping_method.state }}</option>
          {% endif %}
        </select>
      </div>
   
      <div class="input-container">       
        <label for="location">Location<span class="form-required">*</span></label>
        <p class="error"> {{error}}</p>
        <p>{{ form.location.errors }}</p>
        {{form.location}}
      </div>

      <div class="input-container">
        <label for="price">Price<span class="form-required">*</span></label>
        <p>{{ form.price.errors }}</p>
        <p>{{form.price}}</p>
      </div>


      <div class="form-btn-container">
        <button class="form-btn" type="submit">
          {% if 'create' in request.get_full_path %}
          Create
          {% else %}
          Update
          {% endif %}
        </button>
      </div> 
         </form>    
      </div>      
  </div>
<script>
   $(document).ready(function () {
      $("#country").change(function () {
        var country = $(this).val();
        $.ajax({
          type: "POST",
          url: "{% url 'app:get_state' 'country' %}".replace("country", country),

          data: {
            country: country,
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (data) {
            $("#state").empty();
            $.each(data.states, function (key, value) {
              $("#state").append($("<option>", { value: value[1], text: value[0] }));
            });
          },
        });
      });
    });
</script>
{% endblock %}