{% extends 'navs/store-nav.html' %} {% load static %} 
{% block title %} 
<title>Shop!t - 
  {% if 'create' in request.get_full_path %}
        Create Shipping Method{% else %}Edit Shipping Method
  {% endif %}</title>
{% endblock %}
{% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
   
    <form action="" method="post" enctype="multipart/form-data" class="create-product-form">
       <div class="above-create-form">
         {% if 'create' in request.get_full_path %}
        <p>Create Shipping Method</p>
        {% else %}
        <p>Edit Shipping Method</p>
        {% endif %}
      </div>
      {% csrf_token %}
      <div class="input-container">       
        <label for="location">Location<span class="form-required">*</span></label>
        <p class="error"> {{error}}</p>
        <p>{{ form.location.errors }}</p>
        {{form.location}}
      </div>

      <div class="input-container">
        <label for="price">Price<span class="form-required">*</span></label>
        <p>{{ form.price.errors }}</p>
        <p>{{form.price}}</p>
      </div>

     


      <div class="form-btn-container">
        <button class="form-btn" type="submit">
          {% if 'create' in request.get_full_path %}
          Create
          {% else %}
          Update
          {% endif %}
        </button>
      </div>     
      </div>      
    </form>
  </div>
</div>
{% endblock %}