{% extends 'navs/store-nav.html' %}{% load humanize %} {% load static %}{% block title %}<title>
  Shop !t - Store {% if 'unpaid' in request.get_full_path %} Unpaid {% endif %}Orders
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      <p>Store {% if 'unpaid' in request.get_full_path %}Unpaid{% endif %} Orders - {% if orders_count %}{{orders_count}}{% else %}0{% endif %}</p>
      <div class="table-container">
        <table class="store-products-table">
        <p>
          {% if 'unpaid' in request.get_full_path %}
          <a href="{% url 'app:store_orders' %}">Paid Orders</a>
          <small>Unpaid orders will be deleted after 30 days</small>
          {% else %}
          <a href="{% url 'app:unpaid_store_orders'%}">Unpaid Orders</a>
          {% endif %}
        </p>
        <tr class="table-rows">
          <th>Order Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Amount</th>
          <th>Billing Status</th>
        </tr>

        {% for order in orders %} 
        {% comment %} {% for payment in payment %} {% endcomment %}
        <tr class="table-rows">
          <td><a href="{% url 'app:store_order_detail' order.pk %}">{{order.id|truncatechars:12}}</a></td>
          <td>
            {% if payment.full_name %} {{ payment.full_name }} {% elif payment.order.user %}
            {{payment.order.user.full_name}} {% else %} Non user/ customer {% endif %}
          </td>
          <td>
            {% if payment.order.user %} {{ order.user.email }} {% elif payment.email %} {{ payment.email}} {% else %}
            Non user/ customer {% endif %}
          </td>
          <td>
            {{order.currency_symbol}} {% if payment.currency %} {{ payment.amount|intcomma }} {% else %} 
            {{order.amount|intcomma }} {% endif %}
          </td>
          <td>{% if order.billing_status == True %} Paid {% else %} Unpaid {% endif %}</td>
        </tr>
        {% endfor %}
         {% comment %} {% endfor %} {% endcomment %}
      </table>
      </div>
      {% if orders.has_other_pages %}
      <span class="pagination">
        <span>
          {% for i in orders.paginator.page_range %} {% if orders.number == i %} Showing
          {{orders.start_index }} of {{ orders.end_index }} of {{ orders.paginator.count }} 
          entries {% endif %} {% endfor %}
        </span>

        <span>
          {% if orders.has_previous %}
          <a href="?page={{ orders.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-left disable"></i></span>
          {% endif %} {% if orders.has_next %}
          <a href="?page={{ orders.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-right disable"></i></span>
          {% endif %}
      </span>
      </span>
      {% endif %}
      
    </span>
  </div>
  {% endblock %}
</div>
