{% extends 'navs/store-nav.html' %}{% load humanize %} {% load static %}{% block title %}<title>
  Shop !t - Store Orders
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      <p>Store Orders</p>
      <table class="store-products-table">
        <tr class="table-rows">
          <th>Order Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Amount</th>
          <th>Billing Status</th>
        </tr>
        
        {% for order in orders %}
        <tr class="table-rows">
          <td><a href="{% url 'app:store_order_detail' order.pk %}">{{order.id|truncatechars:12}}</a></td>
          <td> {% if payment.full_name %}
            {{ payment.full_name }}
            {% elif payment.order.user %}
            {{payment.order.user.full_name}}
            {% else %}
            Non user/ customer
            {% endif %}
          </td>
          <td>
            {% if payment.order.user %}
            {{ order.user.email }}
            {% elif payment.email %}
            {{ payment.email}}
            {% else %}
            Non user/ customer
            {% endif %}
          </td>
          <td> 
            {% if payment.currency %}
              {{payment.currency.symbol}}
              {{ payment.amount|intcomma }}
            {% else %}
            {{ order.store.currency.symbol}}
            {{ order.amount|intcomma }}
            {% endif %}
              
          </td>
          <td>{% if order.billing_status == True %}
            Paid
            {% else %}
            Unpaid
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </span>
  </div>
  {% endblock %}
</div>