{% extends 'navs/store-nav.html' %} {% load static %}{% block title %}<title>
  Shop !t - {{request.user }} Store View
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
     {% if messages %} {% for message in messages %}
     {% if message %}
    <small class="error">{{message}}</small>
    {% endif %}
    {% endfor %} {% endif %}
    <div class="store-content-container">
      <span class="store-products-container">
          <p>Store Analytics</p>
          <div class="small-anlytics-card">
            <div>
              <p>Total Sales</p>
              <div>
                <span>{{total_amount}}</span>
                <span>1%</span>
              </div>
            </div>
            <div>
              <p>Sales Today</p>
              <div>
                <span>{{today_total_amount}}</span>
                <span>1%</span>
              </div>
            </div>
            <div>
             <p>New Customers</p>
             <div>
              <span>{{last_24_hours_total_customers}}</span>
              <span>1%</span>
             </div>
            </div>
          <div>
            <p>All Customers</p>
            <div>
              <span>{{customers.count}}</span>
              <span>1%</span>
            </div>
          </div>
            </div>

        <div class="latest-orders-container">
              <div>
                <div class="table-container">
            <p>Latest Paid Orders</p>
            <table class="store-products-table">
            <tr class="table-rows">
              <th>Order</th>
              <th>Date</th>
              <th>Amount</th>
            </tr>
            {% for order in latest_orders %}
          <tr class="table-rows">
            <td><a href="{% url 'app:store_order_detail' order.pk %}">{{order.id|truncatechars:12}}</a></td>
            <td>{{order.created|timesince}}</td>
            <td>{{order.amount}}</td>
          </tr>
            {% endfor %}
            </table>
          </div>
              </div>
        </div>

        <div class="top-selling-latest-customer-container">
          <div>
            <div class="table-container">
            <p>Top Selling Products</p>
            <table class="store-products-table">
            <tr class="table-rows">
              <th>Product</th>
              <th>Total Sold</th>
            </tr>
          {% for key, value in product_dict %}
          <tr class="table-rows">
            <td><a href="{{key.get_absolute_url}}">{{key}}</a></td>
            <td>{{value}}</td>
          </tr>
          {% endfor %}
          </table>
        </div>
          </div>

        <div>
          <div class="table-container">
            <p>Top Customers</p>
            <table class="store-products-table">
            <tr class="table-rows">
              <th>Full Name</th>
              <th>Email</th>
              <th>Orders Count</th>
            </tr>
          {% for key, value in customer_dict %}
          <tr class="table-rows">
            <td><a href="{% url 'app:store_customers_details' key.pk %}">{{key.full_name}}</a></td>
            <td>{{key.email}}</td>
            <td>{{value}}</td>
          </tr>
          {% endfor %}
          </table>
        </div>
        </div>
        </div>
        
      </span>
  </div>
</div>
{% endblock %}
  