{% extends 'navs/consumer-nav.html' %} {% load static %} {% block title %} <title>Shop!t - My Store</title> {%endblock%}
{% block content %}
<div class="store-page-container">
  <div>
    <img class="store-image-banner" src="{{ store.store_image.url }}" alt="" />

    <div class="view-store-products-container">
      <div class="view-store-products-grid">
        {% for product in products %}
        <a href="{% url 'customer:customer_product_detail' store.slugified_store_name product.slug %}">
          <span>
            <img src="{{ product.image_1.url }}" />
          </span>
          <div>
            <p>{{ product.name }}</p>
            <p>
              <span>{{ product.price }}</span>
              {% if product.discount %}
              <span>{{ product.discount_price }}</span>
              {% endif %}
            </p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock %}
</div>
