{% extends 'navs/store-nav.html' %} {% load static %}{% block title %}<title>
  Shop !t - {{request.user }} Store View
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
    {% if messages.error %} {% for message in messages %}
    <small class="error">{{message}}</small>
    {% endfor %} {% endif %}
    {% if messages.success %} {% for message in messages %}
    <small class="success">{{message}}</small>
    {% endfor %} {% endif %}
  </div>
  {% endblock %}
</div>
