{% extends 'navs/base.html' %} {% load static %} {% block title %} <title>Shop!t - {{store.store_name}} Review</title> {% endblock %} {%block content %}
<div class="auth-form-container">
  <form action="" method="post">
    {% csrf_token %}
    <div class="above-create-form">
      {% if 'product' in request.get_full_path %}
      <p>{% if 'edit' in request.get_full_path %} Edit {% endif %} Store Product Review</p>
      {% else %}
      <p>{% if 'edit' in request.get_full_path %} Edit {% endif %}Store Review</p>
      {% endif %}
    </div>
    
    <div class="input-container">
      <label for="title">Title<span class="form-required">*</span></label>
      <p>{{form.title.errors}}</p>
      <input class="form-control" type="text" name="title" id="title" placeholder="Title" />
    </div>

    {% if request.user.is_authenticated %}
    {% else %}
    <div class="input-container">
      <label for="full_name">Full Name<span class="form-required">*</span></label>
      <p>{{ form.full_name.errors }}</p>
      <input class="form-control" type="text" name="full_name" id="full_name" placeholder="John Doe" />
    </div>

    <div class="input-container">
      <label for="email">Email</label>
      <p>{{form.email.errors}}</p>
      <input class="form-control" type="email" name="email" id="email" placeholder="johndoe@gmail.com" />
    </div>
    {% endif %}

    <div class="input-container">
        <label for="comment">Comment<span class="form-required">*</span></label>
        <p>{{form.comment.errors}}</p>
            {{form.comment}}
    </div>

    <button class="form-btn" type="submit">Submit</button>
  </form>
</div>

{% endblock %}
