{% extends 'navs/customer-nav.html' %} {% load static %} {% block title %}
<title>{{store.store_name}}</title> {%endblock%} {% block content %}
<div class="store-page-container">
  <div>
    <img class="store-image-banner" src="{{ store.store_image.url }}" alt="" />
    <p>Latest Products</p>
    <div class="view-store-products-container">
      <div class="view-store-products-grid">
        {% for product in products %}
        <a href="{% url 'customer:customer_product_detail' store.slugified_store_name product.slug %}">
          <span>
            <img src="{{ product.image_1.url }}" />
            <img src="{{ product.image_2.url}}" alt="">
          </span>
          <div>
            <p>{{ product.name }}</p>
            <p>
              {% if product.discount_price != product.price %}
              <span>
                <span style="text-decoration: line-through">{{ product.price }}</span>
                <span>{{ product.discount_price }}</span>
              </span>
              {% else %}
            </p>
            <div>{{ product.price }}</div>
            {% endif %}
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock %}
</div>
