{% extends 'navs/store-nav.html' %} {% load static %}{% block title %}<title>
  Shop !t - {{request.user.store_name }} Reviews
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      <p>
        {{reviews.count}}{% if reviews.count > 1 %}
        Reviews
        {% else %}
        Review
        {% endif %}
      </p>
      <table class="store-products-table">
        <tr class="table-rows">
          <th>Name</th>
          <th>Email</th>
          <th>Review</th>
        </tr>
        {% for review in reviews %}
        <tr class="table-rows">
          <td>{{ review.full_name }}</a></td>
          <td>{% if review.email %}
            {{ review.email }}
            {% else %}
            Nil 
            {% endif %}
        </td>
        <td>
            <a href="{% url 'app:store_review_detail' review.id %}">{{review.comment|truncatechars:40}}</a>
        </td>
        </tr>
        {% endfor %}
      </table>
    </span>
  </div>
  {% endblock %}
</div>