{% extends 'navs/store-nav.html' %} {% load static %}{% block title %}<title>
 Shopit - {{request.user.store_name }} Reviews
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      <p>
        {{reviews.count}}{% if reviews.count > 1 %}
        Reviews
        {% else %}
        Review
        {% endif %}
      </p>
      <div class="table-container">
        <table class="store-products-table">
        <tr class="table-rows">
          <th>Name</th>
          <th>Email</th>
          <th>Review</th>
          <th>Date Created</th>
        </tr>
        {% for review in reviews %}
        <tr class="table-rows">
          <td>{{ review.full_name }}</a></td>
          <td>{% if review.email %}
            {{ review.email }}
            {% else %}
            Nil 
            {% endif %}
        </td>
        <td>
            <a href="{% url 'app:store_review_detail' review.id %}">{{review.title|truncatechars:40}}</a>
        </td>
        <td>{{ review.created }}</td>
        </tr>
        {% endfor %}
      </table>
      </div>

      {% if reviews.has_other_pages %}
      <span class="pagination">
        <span>
          {% for i in reviews.paginator.page_range %} {% if reviews.number == i %} Showing
          {{reviews.start_index }} of {{ reviews.end_index }} of {{ reviews.paginator.count }} 
          entries {% endif %} {% endfor %}
        </span>

        <span>
          {% if reviews.has_previous %}
          <a href="?page={{ reviews.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-left disable"></i></span>
          {% endif %} {% if reviews.has_next %}
          <a href="?page={{ reviews.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-right disable"></i></span>
          {% endif %}
        </span>
      </span>
      {% endif %}

    </span>
  </div>
  {% endblock %}
</div>