{% extends 'navs/store-nav.html' %} {% load static %}{% block title %}<title>
  Shop !t - {{request.user.store_name }} Order details
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="order-detail-content">
      <p>Order Details</p>
        <div>
          <div>Order Id</div>
          <p>{{order.id}}</p>
        </div>

        <div>
          <div>Date</div>
          <p>{{order.date_created}}</p>
        </div>

        <div>
          <div>Products</div>
          {% for product in order_products %}
            {% if product.discount_percentage > 1 %}
            <p>Discount Product</p>
          <p>{{product}}</p>
          {% endif %}
          {% endfor %}
        </div>

        <div>
            <div>Products Count</div>
            <p>{{order.quantity}} Products</p>
        </div>

        <div>
            <div>Payment Status</div>
            <p>{% if order.billing_status == True %}
                Paid
                {% else %}
                Not Paid
                {% endif %}
            </p>
        </div>

        <div>
            <div>Coupoun Use</div>
            <p>{% if order.coupon == True %}
                True
                {% else %}
                False
                {% endif %}
            </p>
        </div>

        
        <div class="order-payments-amount-seg">
          <p><span>Order: </span> <span>{% if payment.currency %}{{payment.currency.symbol}}{% else %}{{ order.store.currency.symbol}}{% endif %}{{order.amount}}</span></p>
          <p><span>Logistics: </span>
              <span>
                {% if payment %}
              {{payment.currency.symbol}}{{payment.shipping_method.price}}
              {% else %}
              Not paid yet
              {% endif %}
              </span>
            </p>

          <p>
              <span>Total: </span><span>{% if payment.currency %}{{payment.currency.symbol}}{% else %}{{ order.store.currency.symbol}}{% endif %}{% if payment %}{{ payment.amount}}{% else %}{{order.amount}}{% endif %}
            </span>
          </p>
        </div>
      

      {% if payment %}
      <p>
          <p>Order Shipping Details</p>
          <div>
              <div>Full Name</div>
              <p>{{payment.full_name}}</p>
          </div>

          <div>
              <div>Email</div>
              <p>{{payment.email}}</p>
          </div>

          <div>
              <div>Address</div>
              <p>{{payment.address_line}}</p>
          </div>

          <div>
              <div>Address 2</div>
              {% if payment.address_line2 %}
              <p>{{payment.address_line2}}</p>
              {% else %}
              <p>Nil</p>
              {% endif %}
          </div>

          <div>
              <div>Post Code</div>
              {% if payment.postcode %}
                <p>{{payment.postcode}}</p>
                {% else %}
                <p>Nil</p>
                {% endif %}
          </div>

            <div>
                <div>City</div>
                <p>{{payment.city}}</p>
            </div>

            <div>
                <div>State</div>
                <p>{{payment.state}}</p>
            </div>

            <div>
                <div>Country</div>
                <p>{{payment.country}}</p>
            </div>

        </p>
        {% endif %}
    </span>
  </div>
  {% endblock %}
</div>
