{% extends 'navs/store-nav.html' %}{% load humanize %} {% load static %}{% load apply_markdown %}{% block title %}<title>
  Shop!t - {% if 'monthly' in request.get_full_path %} Monthly {% else %} Yearly {% endif %} Subscriptions 
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container" id="store-products-container">
      <p>Shop!t {% if 'monthly' in request.get_full_path %} Monthly {% else %} Yearly {% endif %} Subscriptions </p>
       {% if messages %} {% for message in messages %}
    <small class="error">{{message}}</small>
    {% endfor %} {% endif %}
      <p>
          {% if 'monthly' in request.get_full_path %}
          <a href="{% url 'app:yearly_subscription_plans' %}">Yearly Subscriptions</a>
          {% else %}
          <a href="{% url 'app:monthly_subscription_plans'%}">Monthly Subscriptions</a>
          {% endif %}
        </p>

        <div class="subscription-grid-container">
            {% for plan in plans %}
            <div class="a-related-container">
                <div>
                  {% if store in plan.subscribers.all %}
                  <small>Actively Subscribed</small>
                  {% endif %}
                <p>{{plan.name}}</p>
                <p>{{plan.currency.symbol}}{{plan.amount|intcomma}}/ {{plan.duration}}</p>
                <div>
                    {{plan.description|convert_markdown|safe}}
                </div>
                </div>
             <a href="{% url 'subscriptions:initiate_subscription_payment' plan.id %}" class="update-btn">Subscibe Now</a>
            </div>
            {% endfor %}
        </div>
    </span>
  </div>
  {% endblock %}
</div>
