{% extends 'navs/store-nav.html' %}{% load humanize %} {% load static %}{% block title %}<title>
 Shopit - {{store.store_name}} Transanction History
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      <p>{{store.store_name|capfirst}} Transanction History</p>
      <div class="table-container">
        <table class="store-products-table">
        <tr class="table-rows">
          <th>Date</th>
          <th>Customer</th>
          <th>Order</th>
          <th>Status</th>
          <th>Amount</th>
          <th>Payment Method</th>
        </tr>

        {% for payment in payments %}
        <tr class="table-rows">
          <td>{{payment.date_created}}</td>
          <td>
            {% if payment.user in customers %}
            {{payment.user.full_name}} (cust)
            {% elif payment.user %}
            {{ payment.user.full_name }} (not cust)
            {% else %}
            {{ payment.full_name }} (not cust)
            {% endif %}
          </td>
          <td><a href="{% url 'app:store_order_detail' payment.order.pk %}">{{payment.order.id|truncatechars:12}}</a></td>
          <td>{% if payment.verified == True %} Paid {% else %} Unpaid {% endif %}</td>
          <td>
            {{payment.order.currency_symbol}}{{ payment.amount|intcomma }}
          </td>
          <td>
            {{payment.payment_method}}
          </td>
        </tr>
        {% endfor %}
      </table>
      </div>

      {% if payments.has_other_pages %}
      <span class="pagination">
        <span>
          {% for i in payments.paginator.page_range %} {% if payments.number == i %} Showing
          {{payments.start_index }} of {{ payments.end_index }} of {{ payments.paginator.count }} 
          entries {% endif %} {% endfor %}
        </span>

        <span>
          {% if payments.has_previous %}
          <a href="?page={{ payments.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-left disable"></i></span>
          {% endif %} {% if payments.has_next %}
          <a href="?page={{ payments.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-right disable"></i></span>
          {% endif %}
        </span>
      </span>
      {% endif %}

    </span>
  </div>
  {% endblock %}
</div>
