{% extends 'navs/customer-nav.html' %} {% load static %} {% load humanize %}
{% block title %}<title>Shop !t - Cart</title>{% endblock %} {% block content %}
<div class="shopping-cart-container">
 <h1 class="error">{{error}}</h1>
  {% if cart %}

  {% if cart_store == store %}
  {% for item in cart %} {% with product=item.product %}
   
    
  <div data-index="{{product.id}}" class="product-item">
    <img class="product-image" src="{{ product.image_1.url }}" alt="" />
    <span><a href="{{product.get_absolute_url}}">{{ product.name }}</a></span>
    <span>
      {% if product.discount_percentage %}
      <span>{{product.currency.symbol}}{{product.discount_price|intcomma}}</span>
      {% else %}
      <span>{{product.currency.symbol}}{{product.price|intcomma}}</span>
      {% endif %}
    </span>

    <span>
      <select id="select{{product.id}}">
        <option selected>{{item.qty}}</option>
        <div class="list">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </div>
      </select>

      <button type="button" id="update-btn" data-index="{{product.id}}" class="update-cart-btn update-btn">
        <i class="far fa-edit"></i>Update
      </button>
    </span>

    <span id="item_total_price{{product.id}}">{{product.currency.symbol}}{{item.total_price|intcomma}}</span>

    <button type="button" id="delete-from-cart-btn" data-index="{{product.id}}" class="delete-from-cart-btn delete-btn">
      <i class="fas fa-trash-alt"></i>Delete
    </button>
  </div>

{% endwith %} {% endfor %}


  <div class="cart-table-bottom">
    <span
      ><a href="{% url 'app:store' store.slugified_store_name %}" class="cart-table-bottom-contents">Continue Shopping<i class="far fa-angle-double-right"></i></a
    ></span>
    <span
      ><a href="{% url 'cart:clear_all_cart' store.slugified_store_name %}" class="cart-table-bottom-contents"
        >Clear cart<i class="fas fa-trash-alt"></i></a
    ></span>
  </div>

  
  <div class="note-checkout-section">
    <span>
      <div>Note: You can use a coupon only once</div>

      <form action="" method="post">
         <p class="coupon_feedback ">{{form_feedback}}</p>
        {% csrf_token %} {{form.as_p}}
        <button class="apply-coupon-btn" type="submit">Apply</button>
      </form>
    </span>

    <div class="cart-expenses">
      <div>
        <span>Sub Total:</span>
        <span id="subtotal">{{store_currency_symbol}}{{cart.get_total_price|intcomma }}</span>
      </div>
      <div>
        <span>Grand Total:</span>
        <span id="grand_total">
          {% if grand_total %} {{store_currency_symbol}}{{grand_total|intcomma}}
          {% else %}
          {{cart.get_total_price|intcomma }}
          {% endif %}
        </span>
      </div>
      {% if store_currency_symbol %}
      <a href="{% url 'order:create_order' coupon_code %}" class="checkout-btn">Checkout</a>
      {% else %}
      <span  class="checkout-btn disable">Checkout</span>
      {% endif %}
    </div>
  </div>

    {% else %}
  
  <div class="empty-cart-stylings">
    <p>You don't have any product in this cart</p>
    <p>but you have <span>{{item.qty}}</span> products in {{product.store}} cart</p>
  <a class="get-started-btn" href="{% url 'cart:cart_summary' cart_store.slugified_store_name %}">{{cart_store.store_name}}</a>
  </div>
  
{% endif %}

{% else %}
   

  <div class="empty-cart-stylings">
    <p>Your Shopping Cart Is Empty</p>
    <img src="{% static 'images/illustrations/cart-illustration.png' %}" alt="" />
    <a class="get-started-btn" href="">Let's Shop</a>
  </div>

{% endif %}
 
</div>
<script>

  $(document).on("click", ".delete-from-cart-btn", function (e) {
    e.preventDefault();
    var prodid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: "{% url 'cart:delete_form_cart' store.slugified_store_name %}",
      data: {
        productid: $(this).data("index"),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("product-cart-qty").innerHTML = json.qty;
        document.getElementById("grand_total").innerHTML = json.qty;
      },
      error: function (xhr, errmsg, err) {},
    });
  });

  //update item

  $(document).on("click", ".update-cart-btn", function (e) {
    e.preventDefault();
    var prodid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: "{% url 'cart:update_cart' store.slugified_store_name %}",
      data: {
        productid: $(this).data("index"),
        productqty: $("#select" + prodid + " option:selected").text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        document.getElementById("product-cart-qty").innerHTML = json.qty;
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("item_total_price" + prodid).innerHTML = json.cartproqty;
        document.getElementById("grand_total").innerHTML = json.subtotal;
        // document.getElementById("currency").innerHTML = json.currency;
        console.log(json);
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>
{% endblock %}
