{% extends 'app/store-nav.html' %} {% load static %} {% block title %}<title>Shop !t - Cart</title>{% endblock %} {% block content %}
<div class="shopping-cart-container">
  {% if cart %}
  <h1>My Shopping Cart</h1>
  {% for item in cart %} {% with product=item.product %}
  <div data-index="{{product.id}}" class="product-item">
    <img class="product-image" src="{{ product.image_1.url }}" alt="" />
    <span><a href="{{product.get_absolute_url}}">{{ product.name }}</a></span>
    <span>{{product.price}}</span>

    <span>
      <select id="select{{product.id}}">
        <option selected>{{item.qty}}</option>
        <div class="list">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </div>
      </select>

      <button type="button" id="update-cart-btn" data-index="{{product.id}}" class="update-cart-btn">
        <i class="far fa-edit"></i>Update
      </button>
    </span>


    <span id="item_total_price">{{item.total_price}}</span>

    <button type="button" id="delete-from-cart-btn" data-index="{{product.id}}" class="delete-from-cart-btn">
      <i class="fas fa-trash-alt"></i>Delete
    </button>
  </div>

  {% endwith %} {% endfor %}
  <div class="cart-table-bottom">
    <span
      ><a href="" class="cart-table-bottom-contents">Continue Shopping<i class="far fa-angle-double-right"></i></a
    ></span>
    <span
      ><a href="{% url 'cart:clear_all_cart' %}" class="cart-table-bottom-contents"
        >Clear cart<i class="fas fa-trash-alt"></i></a
    ></span>
  </div>

  <div class="note-checkout-section">
    <div>
      <h3>Note</h3>
    </div>

    <div class="cart-expenses">
      <div>
        <span>Sub Total:</span>
        <span id="subtotal">{{cart.get_total_price }}</span>
      </div>
      <div>Grand Total:</div>
      <span> </span>
      <a href="" class="checkout-btn">CheckOut</a>
    </div>
  </div>

  {% else %}

  <div class="empty-cart-stylings">
    <p>Your Shopping Cart Is Empty</p>
    <img src="{% static 'images/illustrations/cart-illustration.png' %}" alt="" />
    <a class="get-started-btn" href="">Let's Shop</a>
  </div>

  {% endif %}
</div>
<script>
  //add item

  $(document).on("click", ".delete-from-cart-btn", function (e) {
    e.preventDefault();
    var prodid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: "{% url 'cart:delete_form_cart' %}",
      data: {
        productid: $(this).data("index"),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("product-cart-qty").innerHTML = json.qty;

      },
      error: function (xhr, errmsg, err) {},
    });
  });

  //update item

  $(document).on("click", ".update-cart-btn", function (e) {
  
    e.preventDefault();
    var prodid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: "{% url 'cart:update_cart' %}",
      data: {
        productid: $(this).data("index"),
        productqty: $("#select" + prodid + " option:selected").text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        document.getElementById("product-cart-qty").innerHTML = json.qty;
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("item_total_price").innerHTML = json.cartproqty;
        console.log(json.cartproqty)
        console.log(prodid)
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>
{% endblock %}
