{% extends 'navs/customer-nav.html' %} {% load static %} {% load humanize %}
{% block title %}<title>Shopit - {{store.store_name}} Cart</title>{% endblock %} {% block content %}
<div class="shopping-cart-container">
  <form class="wallet-withdrawal-form"   id="withdrawal-naira-form" action="">
            <div class="above-create-form" id="above-create-form">
                <p>Shopit Warning</p>
            </div>
            <div class="input-container" id="input-container">
              
                <div id="amount">
                  You can not order more than the available quantity
                </div>
            </div>
            <div class="form-btn-container" id="form-btn-container">
            <button class="form-btn" id="form-btn">
            ok
            </button>
            </div> 
            </form>
 <h1 class="error">{{error}}</h1>
  {% if cart %}

  {% if cart_store == store %}
  {% for item in cart %} {% with product=item.product %}
   
    
  <div data-index="{{product.id}}" class="product-item" id="{{product.availability}}">
    <img class="product-image" src="{{ product.image_1.url }}" alt="" />
    <span><a href="{{product.get_customer_url}}">{{ product.name }}</a></span>
    <span>
     
      <span id="a_price">{{product.currency.symbol}}{{item.price|intcomma}}</span>
 
    </span>

    <span>

      <span >
      <input style="width: 100px;" type="number" name="product-order-count" id="product-order-count" class="form-control" placeholder="Enter quantity" value="{{item.qty}}">
    </span>

      <button type="button" id="update-btn" data-index="{{product.id}}" class="update-cart-btn update-btn">
        <i class="far fa-edit"></i>Update
      </button>
    </span>

    <span id="item_total_price{{product.id}}">{{product.currency.symbol}}{{item.total_price|intcomma}}</span>

    <button type="button" id="delete-from-cart-btn" data-index="{{product.id}}" class="delete-from-cart-btn delete-btn">
      <i class="fas fa-trash-alt"></i>Delete
    </button>
  </div>

{% endwith %} {% endfor %}


  <div class="cart-table-bottom">
    <span
      ><a href="{% url 'app:store' store.slugified_store_name %}" class="cart-table-bottom-contents">Continue Shopping<i class="far fa-angle-double-right"></i></a
    ></span>
    <span
      ><a href="{% url 'cart:clear_all_cart' store.slugified_store_name %}" class="cart-table-bottom-contents"
        >Clear cart<i class="fas fa-trash-alt"></i></a
    ></span>
  </div>

  
  <div class="note-checkout-section">
    <span>
      <div>Note: You can use a coupon only once</div>

      <form action="" method="post">
         <p class="coupon_feedback ">{{form_feedback}}</p>
        {% csrf_token %} {{form.as_p}}
        <button class="apply-coupon-btn" type="submit" id="apply-coupon-btn">Apply</button>
      </form>
    </span>

    <div class="cart-expenses">
      <div>
        <span>Sub Total:</span>
        <span id="subtotal">{{store_currency_symbol}}{{cart.get_total_price|intcomma }}</span>
      </div>
      <div>
        <span>Grand Total:</span>
        <span id="grand_total">
          {{store_currency_symbol}}{% if grand_total %}{{grand_total|intcomma}}
          {% else %}{{cart.get_total_price|intcomma }}
          {% endif %}
        </span>
      </div>
      {% if store_currency_symbol %}
      <a href="{% url 'order:create_order' coupon_code %}" class="checkout-btn"  id="checkout-btn">Checkout</a>
      {% else %}
      <span  class="checkout-btn disable" id="checkout-btn">Checkout</span>
      {% endif %}
    </div>
  </div>

    {% else %}
  
  <div class="empty-cart-stylings">
    <p>You don't have any product in this cart</p>
    <p>but you have <span>{{cart.get_cart_products.count}}</span> 
      {% if cart.get_cart_products.count <= 1 %}
      product
      {% else %}
      products
      {% endif %}
      in {{cart.get_store_name.store_name}} cart</p>
   
  <a class="get-started-btn" href="{% url 'cart:cart_summary' cart.get_store_name.slugified_store_name %}">{{cart.get_store_name.store_name}}</a>
  </div>
  
{% endif %}

{% else %}
   

  <div class="empty-cart-stylings">
    <p>Your Shopping Cart Is Empty</p>
    <img src="{% static 'images/illustrations/cart-illustration.png' %}" alt="" />
    <a class="get-started-btn" href="{% url 'app:store' store.slugified_store_name %}">Let's Shop</a>
  </div>

{% endif %}
 
</div>
<script>
 

  $(document).on("click", ".delete-from-cart-btn", function (e) {
    e.preventDefault();
    var prodid = $(this).data("index");
    $.ajax({
      type: "POST",
      url: "{% url 'cart:delete_form_cart' store.slugified_store_name %}",
      data: {
        productid: $(this).data("index"),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        $('.product-item[data-index="' + prodid + '"]').remove();
        document.getElementById("subtotal").innerHTML = json.subtotal;
        document.getElementById("product-cart-qty").innerHTML = json.qty;
        document.getElementById("grand_total").innerHTML = json.qty;
       document.getElementById("a_price").innerHTML = json.price;
      },
      error: function (xhr, errmsg, err) {},
    });
  });

  //update item

  $(document).on("click", ".update-cart-btn", function (e) {
    e.preventDefault();
    var prodid = $(this).data("index");
    var availability = $(this).parent().parent().attr("id");
    $.ajax({
      type: "POST",
      url: "{% url 'cart:update_cart' store.slugified_store_name %}",
      data: {
        productid: $(this).data("index"),
        productqty: (parseInt($("#product-order-count").val()) > parseInt(availability)) ? availability : $("#product-order-count").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        document.getElementById("subtotal").innerHTML = json.currency + json.subtotal;
        document.getElementById("item_total_price" + prodid).innerHTML = json.currency + json.cartproqty;
        document.getElementById("grand_total").innerHTML = json.currency + json.subtotal;
        document.getElementById("product-cart-qty").innerHTML = json.qty;
        document.getElementById("a_price").innerHTML = json.currency + json.price;
      },
      error: function (xhr, errmsg, err) {},
    });

    const myAvailability = $(this).parent().parent().attr("id");
    const errorAlert = $("#withdrawal-naira-form");
    const theProductOrderCount = $("#product-order-count").val();
    const minWidth = window.matchMedia("(min-width: 990px)");
    const nav = $("#nav");
    const checkoutBtn = $("#checkout-btn");
    const applyCouponBtn = $("#apply-coupon-btn");
    const updateCartBtn = $("#update-btn");
    const cartIconContainer = $("#cart-icon-container");
    const errorAlertBtn = $("#form-btn")

    
    if (parseInt(theProductOrderCount) > parseInt(myAvailability) ) {
       $("#product-order-count").val(myAvailability);
       console.log(myAvailability);
       console.log(theProductOrderCount);
      errorAlert.addClass("active");
      errorAlertBtn.css("width", "max-content");
       errorAlert.css("z-index", "1071");
       errorAlert.css("position", "fixed");
       nav.css("z-index", "10");
       checkoutBtn.addClass("disable");
       applyCouponBtn.addClass("disable")
       updateCartBtn.addClass("disable");
      if (cartIconContainer) {
        cartIconContainer.addClass("disable");
      }
      if (minWidth.matches) {
        errorAlert.css("top", "19%");
      } else {
         errorAlert.css("top", "22%");
      } 
    } else {
      $("#product-order-count").val(theProductOrderCount);
    }
  });


  $(document).on("click", "#form-btn", function (e) {
    $("#withdrawal-naira-form").removeClass("active");
    $("#update-btn").removeClass("disable");
    $("#apply-coupon-btn").removeClass("disable");
    $("#checkout-btn").removeClass("disable");
    if ($("#cart-icon-container")) {
      $("#cart-icon-container").removeClass("disable");
    }
  });

</script>
{% endblock %}
