{% extends 'navs/store-nav.html' %} {% load humanize %} {% load static %}{% block title %}<title>
  Shop !t - {{request.user }} Discount Products
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}
  <div class="store-content-container">
    <span class="store-products-container">
      <p>Discount Products</p>
      <table class="store-products-table">
        <tr class="table-rows">
          <th>Product</th>
          <th>Price</th>
          <th>Discount</th>
          <th>Discount Price</th>
        </tr>
        {% for product in products %}
        <tr class="table-rows">
          <td><a href="{{product.get_absolute_url}}">{{ product.name }}</a></td>
          <td>{{store.currency.symbol}}{{ product.price|intcomma }}</td>
          <td>{{ product.discount_percentage }} %</td>
          <td>{{store.currency.symbol}}{{product.discount_price|intcomma }}</td>
        </tr>
        {% endfor %}
      </table>
    </span>
  </div>
  {% endblock %}
</div>
