{% extends 'navs/customer-nav.html' %} {% load static %}{% load humanize %}
{% block title %}<title>
  Shop !t - {{product.created_by}} {{product.name}}
</title>
{% endblock %} {% block content %}

<div class="product-container">
  <div class="carousel">
    <button class="carousel__button carousel__button--left is-hidden">
      <img src="{% static 'images/icons/arrow-left-solid.svg' %}" alt="" />
    </button>
    <div class="carousel__track-container">
      <ul class="carousel__track">
        {% if product.image_1 %}
        <li class="carousel__slide currentSlide">
          <img class="carousel__image" src="{{product.image_1.url}}" alt="" />
        </li>
        {% endif %} {% if product.image_2 %}
        <li class="carousel__slide">
          <img class="carousel__image" src="{{product.image_2.url}}" alt="" />
        </li>
        {% endif %} {% if product.image_3 %}
        <li class="carousel__slide">
          <img class="carousel__image" src="{{product.image_3.url}}" alt="" />
        </li>
        {% endif %} {% if product.image_4 %}
        <li class="carousel__slide">
          <img class="carousel__image" src="{{product.image_4.url}}" alt="" />
        </li>
        {% endif %}
      </ul>
    </div>
    <button class="carousel__button carousel__button--right">
      <img src="{% static 'images/icons/arrow-right-solid.svg' %}" alt="" />
    </button>

    <div class="carousel__nav">
      {% if product.image_1 %}
      <button class="carousel__indicator current-slide"></button>
      {% endif %} {% if product.image_2 %}
      <button class="carousel__indicator"></button>
      {% endif %} {% if product.image_3 %}
      <button class="carousel__indicator"></button>
      {% endif %} {% if product.image_4 %}
      <button class="carousel__indicator"></button>
      {% endif %}
    </div>
  </div>

  <div class="product-info">
    <h1>{{ product.name }}</h1>
    <p>{{product.category}}</p>
    <p>{{product.description}}</p>
   
    <div>
      {% if product.availability > 1 %}
    <span>Availability: {{product.availability}} {{product.product_unit}}s</span>
    {% else %}
    <span>Availability: {{product.availability}} {{product.product_unit}}</span>
    {% endif %}
    </div>

    <div class="">
      {% if product.discount_percentage %}
      <span>{{product.currency.symbol}}{{product.discount_price|intcomma }}</span>
      <span class="discount-precentage">{{product.discount_percentage|intcomma }}%</span>
      <p class="price-with-discount">{{product.currency.symbol}}{{product.price|intcomma }}</p>
      {% else %}
      <span><b>{{product.currency.symbol}}{{product.price|intcomma }}</b></span>
      {% endif %}
    </div>
  
  
      {% if product.availability > 0 %}
    <select id="select">
      <div class="list">
        <option value="0">0</option>
        <option value="1">1</option>
        {% if product.availability >= 2 %}
        <option value="2">2</option>
        {% endif %} {% if product.availability >= 3 %}
        <option value="3">3</option>
        {% endif %} {% if product.availability >= 4 %}
        <option value="4">4</option>
        {% endif %} {% if product.availability >= 5 %}
        <option value="5">5</option>
        {% endif %}
      </div>
    </select>

    <button type="button" id="add-to-cart-btn" value="{{product.id}}" class="update-btn">Add to cart</button>
    {% else %}
    <button type="button" id="add-to-cart-btn" value="{{product.id}}" class="update-btn out-of-stock">
      Out of stock
    </button>
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if request.user in product.wishlist.all %}
        {% if 'customer' in request.get_full_path %}
        <button type="button" class="delete-btn"><a href="{% url 'customer:customer_remove_wishlist' product.slug %}">Remove from WishList</a></button>
        {% else %}
       <button type="button" class="delete-btn"><a href="{% url 'app:remove_wishlist' product.slug %}">Remove from WishList</a></button>
       {% endif %}
        {% else %}
        {% if 'customer' in request.get_full_path %}
        <button type="button" class="update-btn"><a href="{% url 'customer:customer_add_wishlist' product.slug %}">Add to WishList</a></button>
        {% else %}
         <button type="button" class="update-btn"><a href="{% url 'app:add_wishlist' product.slug %}">Add to WishList</a></button>
         {% endif %}
        {% endif %}
    {% endif %}
  

    {% if product.product_details %}
    <div>
      <h3>Product Details</h3>
      <p>{{product.product_details|safe}}</p>
    </div>
    {% endif %}
    <div class="reviews">
      <h2>Reviews</h2>
    </div>
    </div>
  
  </div>
</div>

{% if category_product %}
<div class="related-product-sec">
  <p>You might also like</p>
  <div class="related-products-container">
    {% for product in category_product %}
    <a class="a-related-container" href="{{product.get_absolute_url}}">
      <span class="product-image-container">
        <img src="{{product.image_1.url}}" alt="" />
      </span>
      <div class="product-info-container">
        <p>{{ product.name }}</p>
        <p>
            {% if product.discount_price != product.price %}
              <span>
                <span style="text-decoration: line-through">{{product.currency.symbol}}{{ product.price|intcomma }}</span>
                <span>{{product.currency.symbol}}{{ product.discount_price|intcomma }}</span>
              </span>
              {% else %}
            </p>
            <div>{{product.currency.symbol}}{{ product.price|intcomma }}</div>
            {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
  <a href="">View more</a>
</div>
{% endif %} {% include 'navs/footer.html' %}
<script>
  $(document).on("click", "#add-to-cart-btn", function (e) {
    $.ajax({
      type: "POST",
      url: "{% url 'cart:add_to_cart' store.slugified_store_name %}",
      data: {
        productid: $("#add-to-cart-btn").val(),
        productqty: $("#select option:selected").text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        console.log(json);
        document.getElementById("product-cart-qty").innerHTML = json.qty;
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>
{% endblock %}

