{% extends 'navs/consumer-nav.html' %} {% load static %}{% block title %}<title>
  Shop !t - {{product.created_by}} {{product.name}}
</title>
{% endblock %} {% block content %}

<div class="product-container">
  <div class="carousel">
    <button class="carousel__button carousel__button--left is-hidden">
      <img src="{% static 'images/icons/arrow-left-solid.svg' %}" alt="" />
    </button>
    <div class="carousel__track-container">
      <ul class="carousel__track">
        {% if product.image_1 %}
        <li class="carousel__slide currentSlide">
          <img class="carousel__image" src="{{product.image_1.url}}" alt="" />
        </li>
        {% endif %} {% if product.image_2 %}
        <li class="carousel__slide">
          <img class="carousel__image" src="{{product.image_2.url}}" alt="" />
        </li>
        {% endif %} {% if product.image_3 %}
        <li class="carousel__slide">
          <img class="carousel__image" src="{{product.image_3.url}}" alt="" />
        </li>
        {% endif %} {% if product.image_4 %}
        <li class="carousel__slide">
          <img class="carousel__image" src="{{product.image_4.url}}" alt="" />
        </li>
        {% endif %}
      </ul>
    </div>
    <button class="carousel__button carousel__button--right">
      <img src="{% static 'images/icons/arrow-right-solid.svg' %}" alt="" />
    </button>

    <div class="carousel__nav">
      {% if product.image_1 %}
      <button class="carousel__indicator current-slide"></button>
      {% endif %} {% if product.image_2 %}
      <button class="carousel__indicator"></button>
      {% endif %} {% if product.image_3 %}
      <button class="carousel__indicator"></button>
      {% endif %} {% if product.image_4 %}
      <button class="carousel__indicator"></button>
      {% endif %}
    </div>
  </div>

  <div class="product-info">
    <h1>{{ product.name }}</h1>
    <p>{{product.category}}</p>
    <p>{{product.description}}</p>
    {% if product.availability > 1 %}
    <div>Availability: {{product.availability}} {{product.product_unit}}s</div>
    {% else %}
    <div>Availability: {{product.availability}} {{product.product_unit}}</div>
    {% endif %}
    <p class="">
      {% if product.discount_percentage %}
      <span>${{product.discount_price}}</span>
      <span class="discount-precentage">{{product.discount_percentage}}%</span>
      <p class="price-with-discount">${{product.price}}</p>
      {% else %}
      <span>{{product.price}}</span>
      {% endif %}
    </p>
    {% if product.availability > 0 %}
    <select id="select">
      <div class="list">
        <option value="0">0</option>
        <option value="1">1</option>
        {% if product.availability >= 2 %}
        <option value="2">2</option>
        {% endif %} {% if product.availability >= 3 %}
        <option value="3">3</option>
        {% endif %} {% if product.availability >= 4 %}
        <option value="4">4</option>
        {% endif %} {% if product.availability >= 5 %}
        <option value="5">5</option>
        {% endif %}
      </div>
    </select>

    <button type="button" id="add-to-cart-btn" value="{{product.id}}" class="update-cart-btn">Add to cart</button>
    {% else %}
    <button type="button" id="add-to-cart-btn" value="{{product.id}}" class="update-cart-btn out-of-stock">
      Out of stock
    </button>
    {% endif %}

    {% if request.user.is_authenticated %}
    <div>
        {% if request.user in product.wishlist.all %}
       <button type="button" class="update-cart-btn"><a href="">Remove from WishList</a></button>
        {% else %}
        <button type="button" class="update-cart-btn"><a href="">Add to WishList</a></button>
        {% endif %}

    </div>
    {% endif %}

    {% if product.product_details %}
    <div>
      <h3>Product Details</h3>
        <p>{{product.product_details|safe}}</p>
    </div>
    {% endif %}
    <p>Review</p>
    </div>
  
  </div>
</div>

{% if category_product %}
<div class="related-product-sec">
  <p>You might also like</p>
  <div class="related-products-container">
    {% for product in category_product %}
    <a class="a-related-container" href="{{product.get_absolute_url}}">
      <span class="product-image-container">
        <img src="{{product.image_1.url}}" alt="" />
      </span>
      <div class="product-info-container">
        <p>{{ product.name }}</p>
        <p>{{ product.price }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
  <a href="">View more</a>
</div>
{% endif %} {% include 'navs/footer.html' %}
<script>
  $(document).on("click", "#add-to-cart-btn", function (e) {
    $.ajax({
      type: "POST",
      url: "{% url 'cart:add_to_cart' %}",
      data: {
        productid: $("#add-to-cart-btn").val(),
        productqty: $("#select option:selected").text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function (json) {
        console.log(json);
        document.getElementById("product-cart-qty").innerHTML = json.qty;
      },
      error: function (xhr, errmsg, err) {},
    });
  });
</script>
{% endblock %}
