{% extends 'navs/base.html' %} {% load static %} {% block title %}<title>Shop !t - 404 Error</title> {% endblock %} {% block content %}
<div class="error-page-container">
  <div class="error-page-content-container">
    <p>404</p>
    <div class="error-image-container">
      <img class="error-image" src="{% static 'images/error-images/404.jpg' %}" alt="" />
    </div>
    <div class="error-page-content">
      <p>Ooops... It looks like you are lost</p>
      <a href="/">Return to Hompage</a>
    </div>
  </div>
</div>
</div>
{% endblock %}