{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/carousel.css'%}" />
    <link rel="stylesheet" href="{% static 'css/mobile-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/desktop-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/ckeditor-cleaning.css'%}" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
 {% block title %}
    <title>Shop !t</title>
    {% endblock %}
  </head>
  <body>
    <nav data-aos="fade-down" data-aos-duration="1500" class="nav" id="nav">
      <span>
        <a href="/" class="main-logo">Shop !t</a>
      </span>

      <ul id="nav-links">
        <li><a href="" id="a-nav-link">Pricing</a></li>
        {% if request.user.is_authenticated %}
        {% if request.user.store_creator == True %}
        <li><a href="{% url "app:store_admin" %}" id="a-nav-link">My Store</a></li>
        {% endif %}
        {% if request.user.store_staff == True %}
        <li><a href="{% url "app:store_admin" %}" id="a-nav-link">Store</a></li>
        {% endif %}
        {% if request.user.store_creator == False  and  request.user.store_staff == False %}
        <li><a href="{% url 'customer:customer_stores' %}">Stores</a></li>
        <li><a href="{% url 'account:create_store' %}">Create Store</a></li>
        {% endif %}
        {% else %}
        <li><a href="{% url 'account:login' %}" id="a-nav-link">Sign In</a></li>
        <li><a href="{% url 'account:register' %}" id="a-nav-link">Sign Up</a></li>
        {% endif %}
      </ul>

      <div id="toogle"></div>
    </nav>
    <div class="main-container">{% block content %} {% endblock %}</div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
