{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/carousel.css'%}" />
    <link rel="stylesheet" href="{% static 'css/mobile-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/desktop-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/ckeditor-cleaning.css'%}" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    {% block title %}
    <title>Shop !t</title>
    {% endblock %}
  </head>
  <body>
    <nav data-aos="fade-down" data-aos-duration="1500" class="nav" id="nav">
      <span>
        {% if store %}
        <a href="{% url 'app:store' store.slugified_store_name %}" class="main-logo">{{store.store_name}}</a>
        {% endif %}
      </span>

      <ul id="nav-links">
        <span class="cart-icon-container cart-mobile">
          <a href="{% url 'cart:cart_summary' store.slugified_store_name %}" class="cart-btn">
            {% with total_qty=cart|length %}
            <span id="product-cart-qty">
              <span class="cart-qty-num">
                {% if total_qty > 0 %}
                <div class="cart-qty-num">{{ total_qty }}</div>
                {% else %}
                <div class="cart-qty-num">0</div>
                {% endif %}
              </span>

              {% endwith %}
            </span>
            <i class="far fa-shopping-cart"></i>
          </a>
        </span>

       
          <input type="text" id="side-nav-search-bar" class="side-nav-search-bar"  placeholder="Search for Products" />
         
      

        <span class="cart-icon-container cart-desktop">
          <a href="{% url 'cart:cart_summary' store.slugified_store_name %}" class="cart-btn">
            {% with total_qty=cart|length %}
            <span>
              <span  class="cart-qty-num">
                {% if total_qty > 0 %}
                <div id="product-cart-qty" class="cart-qty-num">{{ total_qty }}</div>
                {% else %}
                <div class="cart-qty-num">0</div>
                {% endif %}
              </span>

              {% endwith %}
            </span>
            <i class="far fa-shopping-cart"></i>
          </a>
        </span>
        {% if store %} 
        <span>
          <li>
            <a href="{% url 'app:store_review' store.slugified_store_name %}">Add a store review</a>
          </li>
        </span>
        {% if request.user in store.customers.all %}
        <li>
          <a href="{% url 'customer:customer_profile' store.slugified_store_name %}" id="a-nav-link">My Account</a>
        </li>
        <span>
          <li><a href="{% url 'customer:customer_wishlist' store.slugified_store_name %}">My Wishlist</a></li>
          <li><a href="{% url 'customer:customer_orders' store.slugified_store_name %}">Order</a></li>
          <li><a href="{% url 'customer:customer_reviews' store.slugified_store_name %}">Reviews</a></li>
          <li><a href="{% url 'customer:address_list' store.slugified_store_name%}">Address</a></li>
          <li><a href="{% url 'customer:customer_logout' store.slugified_store_name %}">Sign Out</a></li>
        </span>
        {% else %} {% if owner_store == store %} {% else %}
        <li><a href="{% url 'customer:customer_login' store.slugified_store_name %}" id="a-nav-link">Sign In</a></li>
        <li><a href="{% url 'customer:customer_register' store.slugified_store_name %}" id="a-nav-link">Sign Up</a></li>
        {% endif %} {% endif %} {% endif %}
      </ul>

      

      <div id="toogle"></div>
    </nav>
    <div class="main-container-large">{% block content %} {% endblock %}</div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
