{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/carousel.css'%}" />
    <link rel="stylesheet" href="{% static 'css/mobile-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/desktop-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/ckeditor-cleaning.css'%}" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    {% block title %}
    <title>Shop !t</title>
    {% endblock %}
  </head>
  <body>
    <nav data-aos="fade-down" data-aos-duration="1500" class="store-nav" id="nav">
      <span>
        <a href="">Shop !t</a>
      </span>
      <span>
        <input type="search" name="" id="side-nav-search-bar" class="side-nav-search-bar" placeholder="Search for Customers, Products, orders" />
        
      </span>
      <span>
        <a href="{% url "app:store" a_staff_store_store_slugified %}" class="store-front-btn" target="_blank" rel="noopener noreferrer">StoreFront</a>
      </span>
      <span class="nav-not-acc-sec">
      <span class="notification"><i class="fas fa-bell notification-bell"></i></span>

        <span class="nav-user-profile" id="nav-user-profile">
          <span id="user-account">
            {% if request.user.avatar %}
            <img class="nav-avatar" src="{{request.user.avatar.url}}" alt="" />
            {% else %}
            <i class="fas fa-user-circle default-avatar"></i>
            {% endif %}
            <span>{{request.user.full_name}}</span> <i id="profile-icon" class="fas fa-caret-down"></i
          ></span>
          <ul id="acc-store-nav-links">
            <li><a href="{% url 'account:user_profile' %}" id="a-nav-link">Profile</a></li>
            <li><a href="{% url 'account:logout' %}" id="a-nav-link">Sign Out</a></li>
          </ul>
        </span>
      </span>

      <div id="toogle"></div>
    </nav>
    <div class="main-container">{% block content %} {% endblock %}</div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
