{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/carousel.css'%}" />
    <link rel="stylesheet" href="{% static 'css/mobile-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/desktop-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/ckeditor-cleaning.css'%}" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    {% block title %}
    <title>{{a_staff_store_store}}</title>
    {% endblock %}
    {% if SEO == True %}
    {% include 'navs/SEO.html' %}
    {% endif %}
  </head>
  <body id="body">
    <nav class="store-nav" id="nav">
      <span class="store-nav-logo">
        {% if a_staff_store_store.store_image %}
        <span>
          <img src="{{a_staff_store_store.store_image.url}}" alt="">
        </span>
        {% else %}
        <a href="{% url 'app:store_admin' %}">{{a_staff_store_store|upper}}</a>
        {% endif %}
      </span>

      <span>     
          <input type="text" id="side-nav-search-bar" class="side-nav-search-bar active"  onkeyup="myFunction()" onclick="desktopSearchBar()" placeholder="Search for Customers, Products, orders" />
          <ul id="search-display">
            {% for product in store_products %}
            <li><a href="{% url 'app:product_detail' product.slug %}">{{product}}</a></li>
            {% endfor %}
            {% for order in store_orders %}
            <li><a href="{% url 'app:store_order_detail' order.id %}">{{order.id}}</a></li>
            {% endfor %}
            {% for customer in store_customers %}
            <li><a href="{% url 'app:store_customers_details' customer.pk %}">{{customer.full_name}}</a></li>
            {% endfor %}
          </ul>
      </span>
      
      <span>
        <a href="{% url "app:store" a_staff_store_store_slugified %}" class="store-front-btn" target="_blank" rel="noopener noreferrer"><span>StoreFront</span> <i class="fas fa-long-arrow-alt-right"></i></a>
      </span>
   
      <span class="nav-not-acc-sec">
       
      <div id="notification" class="notification"><a href="{% url 'app:notification_page' %}"><span class="notification-count" id="notification-count">{{ user.notifications.unread.count }}</span><i class="fas fa-bell notification-bell"></i></a>
      </div>

        <span class="nav-user-profile" id="nav-user-profile">
          <span id="user-account">
            {% if request.user.avatar %}
            <span class="nav-avatar">
              <img src="{{request.user.avatar.url}}" alt="" />
            </span>
            {% else %}
            <i class="fas fa-user-circle default-avatar"></i>
            {% endif %}
            <span>{{request.user.full_name}}</span> <i id="profile-icon" class="fas fa-caret-down"></i
          ></span>
          <ul id="acc-store-nav-links">
            <li><a href="{% url 'account:user_profile' %}" id="a-nav-link">Profile</a></li>
            <li><a href="{% url 'account:logout' %}" id="a-nav-link">Sign Out</a></li>
          </ul>
        </span>
      </span>

      <div id="toogle"></div>
    </nav>
    <div class="first-instruction-modal" id="first-instruction-modal">
    <div class="above-create-form" id="above-create-form">
      <p>Welcome</p>
    </div>
    <div class="input-container" id="input-container">
      <div id="amount">Before anything, it is highy important you do these
        <ul>
          <li>Set your default currency in settings</li>
          <li>Add you bank account details for payout</li>
          <li>Create a category before adding a product</li>
          <li>Add a valid address for order pickup</li>
        </ul>
      </div>
    </div>
  
      <button class="form-btn" id="form-btn">ok</button>

  </div>
    <div class="main-container-large">
      {% block content %} 
      {% endblock %}</div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  <script>
    var minNotification = document.getElementsByClassName("min-notification");
    for (var i = 0; i < minNotification.length; i++) {
      if (i > 4) {
        minNotification[i].style.display = "none";
      }
    }
  </script>
  </body>
</html>
