<div class="store-sidenav" id="store-sidenav">
    <span class="store-sidenav-seg">
      <p>{{a_staff_store_store |capfirst }}</p>
      <ul>
        <li><a href="">My Store</a></li>
        <li><a href="{% url "app:all_customers" %}">Customers</a></li>
        <li><a href="{% url 'app:store_orders' %}">Orders</a></li>
        <li><a href="{% url 'app:wishlist' %}">WishList</a></li>
        <li><a href="{% url 'app:transanction_history' %}">Transanction History</a></li>
      </ul>
    </span>
    <span class="store-sidenav-seg">
      <p>Catalog</p>
      <ul>
        <li><a href="{% url 'app:store_products' %}">All Products</a></li>
        <li><a href="{% url 'app:create_product' %}">Add Product</a></li>
        <li><a href="{% url 'app:all_category' %}">Category</a></li>
        <li><a href="{% url 'app:store_review_list' %}">Reviews</a></li>
      </ul>
    </span>
    <span class="store-sidenav-seg">
      <p>Marketing</p>
      <ul>
        <li><a href="{% url 'app:discount_products' %}">Discount</a></li>
        <li><a href="{% url 'app:all_coupons' %}">Coupon</a></li>
      </ul>
    </span>
    <span class="store-sidenav-seg">
      <p>Store Settings</p>
      <ul>
        {% if request.user.store_creator == True %}
        <li><a href="{% url 'account:store_account' %}">Store Settings</a></li>
        <li><a href="{% url 'app:yearly_subscription_plans' %}">Subscription</a></li>
        <li><a href="">Store Custmization</a></li>
        {% endif %}
        <li><a href="{% url 'account:user_profile' %}">User Account</a></li>
        <li><a href="{% url 'app:store_staff_page' %}">Staff Account</a></li>
        {% if request.user.store_creator == False %}
        {% if multiple_store_staff %}
        <li><a href="{% url 'account:staff_stores' %}">Switch Store</a></li>
        {% endif %}
        {% endif %}
        <li><a href="{% url 'app:shipping_method_list' %}">Shipping Method</a></li>
      </ul>
    </span>
  </div>