.carousel {
  position: relative;
  height: 500px;
  width: 100%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel__track {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 100%;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}

.carousel__button img {
  width: 12px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgb(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background-color: rgb(0, 0, 0, 0.75);
}

.is-hidden {
  display: none;
}
