@media all and (min-width: 990px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #ccc;
    padding: 0 40px;
    background-color: #fff;
  }

  nav > ul {
    display: flex;
    flex-direction: row;
  }

  ul > li {
    list-style: none;
    margin: 0 15px;
    font-size: 18px;
  }

  nav > ul > li > a {
    text-decoration: none;
    color: #6d7d89;
  }

  nav > ul > li > a:hover {
    text-decoration: none;
    color: #6b69f8;
  }

  #toogle {
    display: none;
  }
}

@media all and (min-width: 850px) {
  .illustration-sec-1 {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
  }

  .illustration-grid-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 90%;
    margin: 0 auto;
  }

  .payment-illustration-sec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    box-shadow: 0px 20px 30px 0px #ccc;

    align-items: center;
  }

  footer > div {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 30px;
    padding: 100px 50px;
  }

  .illustration-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .illustration-container > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
