* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.email-container {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.email-container > * {
  margin: 10px 0;
}

.email-btn {
  display: block;
  background-color: #3d5170;
  width: max-content;
  color: #fff;
  text-decoration: none;
  margin: 10px auto !important;
  padding: 10px 25px;
  border-radius: 10px;
}

.introduction {
  font-weight: bold;
  margin: 5px 0;
  font-size: 20px;
}

.body > * {
  margin: 20px 0;
}

.conclusion {
  margin-top: 40px;
}

.conclusion > * {
  margin: 5px 0;
  display: block;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.socials > a {
  color: #3d5170;
  text-decoration: none;
  margin: 0 10px;
}

.socials > a i {
  font-size: 25px;
}

.logo {
  width: 150px;
  object-fit: cover;
  display: block;
  margin: 0 auto 40px auto;
}

ul {
  list-style: none;
}

small {
  text-align: center;
}

small a {
  color: #3d5170;
  display: block;
  text-align: center;
}
