@media all and (max-width: 990px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: 100px;
    background-color: #fff;
  }

  nav:after {
    content: "";
    clear: both;
    display: table;
  }

  .main-logo {
    position: relative;
    top: 35px;
    padding-left: 50px;
  }

  nav > ul > li {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 0;
    padding-left: 70px;
  }

  nav > ul > li > a {
    text-decoration: none;
    color: #6d7d89;
    font-size: 20px;
  }

  nav > ul > li > a:hover {
    text-decoration: none;
    color: #6b69f8;
  }

  /* #nav-links {
    margin-top: -100%;
    transition: all 1.5s ease-in-out;
  }

  #nav-links.active {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  } */

  #nav-links {
    position: absolute;
    margin-top: 70px;
    height: 0%;
    transition: all 1.5s ease-in-out;
    overflow: hidden;
    z-index: 10;
    background: #fff;
    width: 100%;
  }

  #nav-links.active {
    height: 220px;
    overflow: hidden;
    z-index: 10;
    /* border-bottom: 1px solid #ccc; */
  }

  #toogle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }

  #toogle::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: #6d7d89;
    transform: translateY(-5px);
    transition: 0.2s;
  }

  #toogle::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: #6d7d89;
    transform: translateY(5px);
    transition: 1s;
  }

  #toogle.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #toogle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }
}

@media all and (max-width: 850px) {
  .illustration-sec-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: 0 auto;
  }

  .illustration-grid-sec {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    width: 70%;
    margin: 0 auto;
  }

  .payment-illustration-sec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
    border: 1px solid #ccc;
    align-items: center;
  }
}
