* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main-container {
  margin-top: 100px;
}

.intro {
  padding-top: 40px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.intro > p {
  font-size: 40px;
  font-weight: 500;
}

.intro > div {
  margin-top: 25px;
  font-size: 25px;
}

.get-started-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 40px;
  background-color: #6d7d89;
  font-size: 20px;
  text-decoration: none;
  width: 180px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.get-started-btn:hover {
  background-color: #6b69f8;
  transition: all 1.5s ease-in;
}

.an-illustration-grid {
  box-shadow: 0px 20px 30px 0px #ccc;
  border-radius: 8px;
  margin: 30px 0;
  transition: transform 2s;
}

.an-illustration-grid:hover {
  transform: scale(1.05);
}

.an-illustration-grid > p {
  text-align: center;
  font-size: 25px;
  padding: 20px 0;
}

.illustration-grid-content {
  padding: 50px;
  font-size: 20px;
}

.illustration-container > img:hover {
  animation: rotate 1.5s linear forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.payment-illustration-sec > p {
  font-size: 25px;
  margin: 20px 0;
  text-align: center;
}

.payment-illustration-content {
  padding: 50px;
  font-size: 20px;
}

.outro {
  margin: 50px auto;
  text-align: center;
  width: 50%;
  font-size: 25px;
}

footer {
  background-color: #6b69f8;
}

.footer-info-shopit > a {
  font-size: 60px;
}

.footer-info-shopit > div {
  font-size: 20px;
  color: #ccc;
}

.footer-info-shopit > div > p {
  margin-top: 10px;
}

.company-socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.company-socials > span {
  margin-right: 50px;
  margin-top: 20px;
}

.company-socials > span > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  background-color: #6b69f8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-decoration: none;
}

.company-socials > span > a:hover {
  color: #6b69f8;
  background-color: #ccc;
  transition: all 1.5s ease-in-out;
}

.footer-info-company > p {
  font-size: 30px;
  color: #ccc;
}

.footer-info-company > ul {
  margin-top: 20px;
}

.footer-info-company > ul > li {
  margin: 0 !important;
  list-style: none;
}

.footer-info-company > ul > li > a {
  text-decoration: none;
  color: #ccc;
}

.footer-info-company > ul > li > a:hover {
  text-decoration: none;
  color: #fff;
  transition: all 1.5s ease-in-out;
}

.footer-info-account > p {
  font-size: 30px;
  color: #ccc;
}

.footer-info-account > ul {
  margin-top: 20px;
}

.footer-info-account > ul > li {
  margin: 0 !important;
  list-style: none;
}

.footer-info-account > ul > li > a {
  text-decoration: none;
  color: #ccc;
}

.footer-info-account > ul > li > a:hover {
  text-decoration: none;
  color: #fff;
  transition: all 1.5s ease-in-out;
}

.shopping-cart-container {
  margin: 130px 5%;
}

.shopping-cart-container > h1 {
  text-align: center;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: auto;
  margin: 20px 0;
  box-shadow: 0px 20px 30px 0px #ccc;
  transition: transform 2s;
  padding: 25px 25px;
  flex-wrap: wrap;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item > * {
  margin: 15px 20px;
}

.product-image {
  display: inline-block !important;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.empty-cart-stylings {
  margin: 0 auto;
}

.empty-cart-stylings > p {
  font-size: 35px;
  text-align: center;
  margin: 15px 0;
  font-weight: 590;
}

.empty-cart-stylings > img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  object-fit: contain;
  display: block;
}

.cart-table-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 50px;
  flex-wrap: wrap;
}

.update-btn {
  color: #fff;
  background-color: #3d5170;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  outline: none;
  border: 0;
}

.update-btn:hover {
  transition: all 1s ease-in-out;
  background-color: #6b69f8;
  border: 0;
  color: #ffffff;
}

.delete-btn {
  background-color: rgba(218, 41, 41, 0.981);
  color: white;
  border: 0;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1.5s ease-in-out;
  text-decoration: none;
}

.delete-btn:hover {
  background-color: red;
  color: #ffffff;
  /* transition: all 1.5s ease-in-out; */
}

.update-btn > a {
  color: #ffffff;
  text-decoration: none;
}

.update-btn > a:hover {
  color: #ffffff;
}

.delete-btn > i,
.delete-btn > a > i {
  padding-right: 2px;
}

.delete-btn > a {
  color: white;
  text-decoration: none;
}

.delete-btn > a:hover {
  color: #ffffff;
}

.cart-table-bottom-contents {
  color: #6d7d89;
  font-size: 19px;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.cart-table-bottom-contents:hover {
  color: #6b69f8;
  transition: all 1.5s ease-in-out;
}

.cart-table-bottom-contents > i {
  padding-left: 5px;
}

.note-checkout-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0;
}

.note-checkout-section > span {
  width: 40%;
}

.note-checkout-section > span > form {
  width: 100%;
}

.note-checkout-section > span > div {
  font-size: 18px;
  margin-bottom: 20px;
}

.cart-expenses {
  padding: 20px 30px;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div.cart-expenses > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  flex-wrap: wrap;
  margin: 20px 0;
}

div.cart-expenses > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.coupon_feedback {
  text-align: center;
  color: #6b69f8;
  font-size: 17px;
}

.apply-coupon-btn {
  display: block;
  padding: 6px;
  background-color: #6d7d89;
  color: #ffffff;
  border: 1px solid #6d7d89;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  width: 100px;
  margin: 20px auto 4px auto;
}

.apply-coupon-btn:hover {
  background-color: #6b69f8;
  color: #ffffff;
  transition: all 1.5s ease-in-out;
  cursor: pointer;
}

.checkout-btn {
  display: block;
  padding: 6px;
  background-color: #6d7d89;
  color: #ffffff;
  border: 1px solid #6d7d89;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  width: 100px;
  margin: 20px auto 4px auto;
}

.checkout-btn:hover {
  background-color: #6b69f8;
  color: #ffffff;
  transition: all 1.5s ease-in-out;
  cursor: pointer;
}

.product-info > * {
  margin: 9px 0;
}

.product-info > h1 {
  color: #3d5170;
}

.product-info > p {
  font-size: 19px;
  color: #3d5170;
}

.product-info > div {
  color: #3d5170;
}

.product-info > div > span {
  font-size: 18px;
}

.product-info > div > h3 {
  margin-bottom: 7px;
}

select {
  outline: none;
  border: 1px solid #6d7d89;
  padding: 5px;
}

body > nav > span:nth-child(2) > i {
  color: #6d7d89;
  right: 0;
  padding: 8px 17px 8px 17px;
  text-decoration: none;
  margin: -10px 30px 0 0;
  font-size: 40px;
}

.cart-icon-container {
  display: inline-block;
  margin: 0 10px;
}

.cart-btn {
  text-decoration: none;
  color: red;
}

#product-cart-qty,
.cart-qty-num {
  display: block;
  text-align: center;
  font-size: 17px;
  position: absolute;
  top: 5px;
  margin-left: 3px;
}

.cart-icon-container > a > i {
  color: #6d7d89;
  font-size: 25px;
  text-decoration: none;
}

.out-of-stock {
  cursor: not-allowed;
  background-color: #ffffff;
  color: red;
  border: 1px solid red;
}

.out-of-stock:hover {
  background-color: red;
  color: #ffffff;
  transition: all 1.5s ease-in-out;
}

.related-product-sec {
  display: block;
  margin: 40px 60px;
}
.related-product-sec > p {
  text-align: center;
  margin: 30px 0;
  color: #6b69f8;
}

.related-product-sec > a {
  display: block;
  text-decoration: none;
  color: #6b69f8;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.related-products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.a-related-container {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  margin: 20px auto;
  text-decoration: none;
  border-radius: 12px;
  transition: transform 2s;
}

.a-related-container:hover {
  transform: scale(1.05);
}

.product-image-container {
  width: 300px;
  border-radius: 12px;
}

.product-image-container > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom: 1px solid #ccc;
}

.product-info-container {
  padding: 5px 30px;
  margin: 0 auto;
  font-size: 19px;
  color: #6b69f8;
}

div.product-info > p:nth-child(2) {
  color: #6b69f8;
  font-size: 17px;
}

.discount-precentage {
  background-color: #6b69f84a;
  color: #6b69f8;
  padding: 0px 15px;
  font-size: 15px;
  border-radius: 5px;
}

.price-with-discount {
  font-size: 14px !important;
  text-decoration: line-through;
}

.store-sidenav-seg {
  padding: 25px 0px;
  border-top: 1px solid #ccc;
  margin: 0 20px;
}

.store-sidenav-seg > ul {
  width: 110px;
}

.store-sidenav-seg > p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #6b69f8;
}

.store-sidenav-seg > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.store-sidenav-seg > ul > li {
  padding: 10px 0;
}

.store-sidenav-seg > ul > li > a {
  text-decoration: none;
  color: #3d5170;
}

.store-sidenav-seg > ul > li > a:hover {
  color: #6b69f8;
  transition: all 1.5s ease-in-out;
}

.create-product-form {
  padding: 30px 40px 0 40px;
  width: 100%;
  margin-bottom: 40px;
}

.input-container {
  margin: 20px 0;
}

.input-container > input {
  display: block;
}

.input-container > select {
  height: 40px;
}

.input-container > textarea {
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-control {
  border: 1px solid #3d5170;
  border-radius: 8px;
  outline: none;
  padding: 0 15px;
  margin: 10px 0;
  width: 100%;
  height: 40px;
}

.product-detail-input {
  margin: 10px 0;
}

.form-required {
  color: red;
  padding-left: 3px;
}

.pricing-quantity-seg,
.images-seg,
.acc-form-seg {
  box-shadow: 0px 20px 30px 0px #ccc;
  padding: 30px;
  margin-top: 30px;
}

.pricing-quantity-seg > p,
.images-seg > p,
.acc-form-seg > p {
  margin-bottom: 20px;
  font-size: 20px;
  color: #3d5170;
}

.above-create-form > p {
  font-size: 25px;
  color: #3d5170;
}

.price-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 10px;
}

.quantity-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 10px;
}

input[type="file" i] {
  padding-top: 8px;
}

.errorlist > li,
.login-errors {
  color: red;
  padding: 5px 0;
  list-style: none;
  font-size: 13px;
  margin: 0;
}

.form-btn-container {
  padding: 20px;
}

.form-btn {
  color: #ccc;
  outline: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  background-color: #6b69f8;
}

button {
  outline: 0;
  border: 0;
}

.form-btn:hover {
  color: #6b69f8;
  transition: all 1.01s ease-in-out;
  background-color: #ccc;
}

.form-bottom {
  display: block;
  margin: 20px auto 5px auto;
}

.form-bottom > a {
  text-align: center;
  color: #3d5170;
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.form-bottom:hover > a {
  color: #6b69f8;
}

.error-page-container,
.success-page-container {
  width: 500px;
  margin: 30px auto 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-image-container {
  width: 300px;
  height: 300px;
  margin: 20px auto;
}

.error-image,
.success-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(90deg);
  animation: rotate 5s linear forwards infinite;
}

.error-page-content-container > p {
  font-size: 70px;
  font-weight: 590;
  margin: 15px;
}

.error-page-content {
  margin-top: 40px;
}

.error-page-content > p {
  font-size: 30px;
  font-weight: 400;
}

.error-page-content > a {
  display: block;
  font-size: 18px;
  color: #3d5170;
  margin-top: 20px;
}

.error-page-content > a:hover {
  color: #6b69f8;
  transition: all 1.01s ease-in-out;
}

.success-image-container {
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

.success-page-content-container > p {
  font-size: 35px;
  margin: 15px;
  font-weight: lighter;
}

.success-page-content-container > div {
  font-size: 25px;
  margin-top: 60px;
}

.delete-btn-container {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

#acc-store-nav-links {
  padding: 0 30px 0 0;
  display: block;
  position: absolute;
  list-style: none;
  z-index: 1070;
  background-color: #fff;
  margin-top: 10px;
  box-shadow: 0px 20px 30px 0px #ccc;
  right: 0;
  margin-right: 20px;
  border-radius: 10px;
}

.nav-not-acc-sec {
  display: flex;
}
#user-account {
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #3d5170;
}

#user-account:hover {
  color: #6b69f8;
  transition: all 1.01s ease-in-out;
}

#user-account > span {
  padding: 0 5px;
}

#acc-store-nav-links > li > a {
  padding: 10px 30px;
  display: block;
  color: #3d5170;
  text-decoration: none;
}

#acc-store-nav-links > li > a:hover {
  color: #6b69f8;
}

.default-avatar {
  font-size: 35px;
}

.notification-bell {
  margin: 0 !important;
  font-size: 25px !important;
  padding: 0 0px 0 0 !important;
}

.side-nav-search-bar {
  width: 50vw;
  height: 40px;
  padding: 10px 15px;
  outline: none;
  border: 0;
  border-radius: 8px;
}

.nav-avatar {
  width: 50px;
  border-radius: 50%;
}

.notification {
  display: flex;
  align-items: center;
  color: #3d5170;
  cursor: pointer;
}

.notification:hover {
  color: #6b69f8;
  transition: all 1.01s ease-in-out;
}

.store-front-btn {
  background-color: #3d5170;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
}

.store-front-btn:hover {
  background-color: #ffffff;
  color: #3d5170;
  border: 1px solid #3d5170;
  transition: all 1.01s ease-in-out;
}

.store-products-container > p {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #3d5170;
  padding: 30px 0;
}

.store-products-container > span > a {
  color: #ffffff;
  background-color: #3d5170;
  padding: 7px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0 15px 10px 0;
  float: right;
  border-radius: 5px;
}

.store-products-container > div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  flex-wrap: wrap;
}

.store-products-container > div > a {
  color: #ffffff;
  background-color: #3d5170;
  padding: 7px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px auto;
}

.store-products-table {
  width: 100%;
}

.store-products-table > * {
  text-align: center;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #3d5170;
  padding: 0.5rem;
  text-align: left;
}

.store-image-banner {
  width: 100%;
  filter: blur(3px);
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.view-store-products-container {
  display: block;
  width: 80%;
  margin: 0 auto 200px auto;
}

.store-page-container > div > p {
  font-size: 24px;
  color: #6b69f8;
  text-align: center;
  margin: 30px 0;
}

.view-store-products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 30px;
}

.view-store-products-grid > a {
  display: inline-block;
  width: 300px;
  border-radius: 8px;
  text-decoration: none;
  color: #6b69f8;
  box-shadow: 0px 20px 30px 0px #ccc;
  overflow: hidden;
}

.view-store-products-grid > a:hover{
  transform: scale(1.05);
  transition: all 1.01s ease-in-out;
}

.view-store-products-grid > a > span {
  position: relative;
  display: block;
  width: 300px;
  height: 250px;
  border-radius: 8px;

}


.view-store-products-grid > a > span > img:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 8px 0 0;
  animation: image-animation 7s ease-in-out infinite;
  margin-left: 0;
  overflow: hidden;
}

.view-store-products-grid > a > span > img:nth-child(1):hover {
  animation-iteration-count: 1;
}

.view-store-products-grid > a > span > img:nth-child(2) {
  margin-left: -300px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: image-animation2 7s ease-in-out infinite;
  border-radius: 8px 0 0 0;
}

@keyframes image-animation2 {
  100% {
    margin-left: 0px;
    display: none;
  }
}


@keyframes image-animation {
  100% {
    margin-left: 100%;
  }
}

.view-store-products-grid > a > div {
  padding: 20px;
}

.view-store-products-grid > a > div > p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.view-store-products-grid > a > div > p > span {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.view-store-products-grid > a > div >  div {
  text-align: center;
  margin-top: 10px;
}

.customer-profile-container {
  display: flex;
  justify-content: space-around;
}

.customer-address-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 50px auto;
}

.customer-address-container > span {
  display: inline-flex;
  flex-direction: column;
  margin: 0 20px;
  box-shadow: 0px 20px 30px 0px #ccc;
  padding: 30px;
  height: 250px;
  overflow: hidden;
  justify-content: center;
}

.customer-address-container > span > * {
  padding: 5px 0;
}

.customer-address-container > span:hover {
  transform: scale(1.03);
  transition: all 1.06s ease-in-out;
}

.customer-address-container > span > span {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
}

.customer-address-container > span > span a {
  color: #6b69f8;
}


