* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-container {
  margin-top: 100px;
}

.intro {
  padding-top: 40px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.intro > p {
  font-size: 40px;
  font-weight: 500;
}

.intro > div {
  margin-top: 25px;
  font-size: 25px;
}

.get-started-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 40px;
  background-color: #6d7d89;
  font-size: 20px;
  text-decoration: none;
  width: 180px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.get-started-btn:hover {
  background-color: #6b69f8;
}

.an-illustration-grid {
  box-shadow: 0px 20px 30px 0px #ccc;
  border-radius: 8px;
  margin: 30px 0;
}

.an-illustration-grid > p {
  text-align: center;
  font-size: 25px;
  padding: 20px 0;
}

.illustration-grid-content {
  padding: 50px;
  font-size: 20px;
}

.payment-illustration-sec > p {
  font-size: 25px;
  margin: 20px 0;
  text-align: center;
}

.payment-illustration-content {
  padding: 50px;
  font-size: 20px;
}

.outro {
  margin: 50px auto;
  text-align: center;
  width: 50%;
  font-size: 25px;
}

footer {
  background-color: #6b69f8;
}

.footer-info-shopit > a {
  font-size: 60px;
}

.footer-info-shopit > div {
  font-size: 20px;
  color: #ccc;
}

.footer-info-shopit > div > p {
  margin-top: 10px;
}

.company-socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.company-socials > span {
  margin-right: 50px;
  margin-top: 20px;
}

.company-socials > span > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  background-color: #6b69f8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ccc;
  text-decoration: none;
}

.company-socials > span > a:hover {
  color: #6b69f8;
  background-color: #ccc;
}

.footer-info-company > p {
  font-size: 30px;
  color: #ccc;
}

.footer-info-company > ul {
  margin-top: 20px;
}

.footer-info-company > ul > li {
  margin: 0 !important;
  list-style: none;
}

.footer-info-company > ul > li > a {
  text-decoration: none;
  color: #ccc;
}

.footer-info-company > ul > li > a:hover {
  text-decoration: none;
  color: #fff;
}

.footer-info-account > p {
  font-size: 30px;
  color: #ccc;
}

.footer-info-account > ul {
  margin-top: 20px;
}

.footer-info-account > ul > li {
  margin: 0 !important;
  list-style: none;
}

.footer-info-account > ul > li > a {
  text-decoration: none;
  color: #ccc;
}

.footer-info-account > ul > li > a:hover {
  text-decoration: none;
  color: #fff;
}
