{% extends 'navs/consumer-nav.html' %} {% load static %} {% block title %}
<title>{{store.store_name }} - {{request.user.full_name}}</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  <span class="customer-profile-container">
    <span class="store-sidenav-seg">
      {% include 'navs/customer-side-nav.html' %}
    <div class="account-form-container">
      <form action="" method="post" >
        {% csrf_token %}
        <div class="above-create-form">
          <p>My Address</p>
        </div>

        <div class="acc-form-seg">
          <p>Basic Info</p>
          <div class="input-container">
            <label for="full_name">Full Name<span class="form-required">*</span></label>
            <p>{{ address_form.full_name.errors }}</p>
            <div>{{ address_form.full_name }}</div>
          </div>

          <div class="input-container">
            <label for="phone">Phone Number<span class="form-required">*</span></label>
            <p>{{ address_form.phone.errors }}</p>
            <div>{{ address_form.phone }}</div>
          </div>

          <div class="input-container">
            <label for="postcode">Post Code</label>
            <p>{{ address_form.postcode.errors }}</p>
            {{address_form.postcode}}
          </div>

          <div class="input-container">
            <label for="address_line">Address</label>
            <p>{{ address_form.address_line.errors }}</p>
            {{address_form.address_line}}
          </div>

          <div class="input-container">
            <label for="address_line2">Address 2</label>
            <p>{{ address_form.address_line2.errors }}</p>
            {{address_form.address_line2}}
          </div>

          <div class="input-container">
            <label for="delivery_instructions">Delivery Instructions</label>
            <p>{{ address_form.delivery_instructions.errors }}</p>
            {{address_form.delivery_instructions}}
          </div>
          
          <div class="input-container">
            <label for="country">Country</label>
            <p>{{ address_form.country.errors }}</p>
            <select name="country" class="countries form-control" id="countryId country">
              <option value="">Select Country</option>
            </select>
          </div>
       

          <div class="input-container">
            <label for="state">State</label>
            <p>{{ address_form.state.errors }}</p>
            <select name="state" class="states form-control" id="stateId state">
              <option value="">Select State</option>
            </select>
          </div>
      

          <div class="input-container">
            <label for="city">City</label>
            <p>{{ address_form.city.errors }}</p>
            <select name="city" class="cities form-control" id="cityId city">
              <option value="">Select City</option>
            </select>
          </div>

        </div>
    

        <div class="form-btn-container">
          <button class="form-btn" type="submit">Update</button>
        </div>
      </form>

      <form action="{% url 'account:change_password' %}" method="post">
        {% csrf_token %}
        <div class="acc-form-seg">
          <p>Change Password</p>
          <div class="input-container">
            <label for="old_password">Old Password<span class="form-required">*</span></label>
            <p>{{ form.old_password.errors }}</p>
            <input type="password" name="old_password" class="form-control" required id="id_old_password" />
          </div>

          <div class="input-container">
            <label for="new_password1">New Password<span class="form-required">*</span></label>
            <p>{{ form.new_password1.errors }}</p>
            <input
              type="password"
              name="new_password1"
              class="form-control"
              maxlength="100"
              required
              id="id_new_password1"
            />
          </div>

          <div class="input-container">
            <label for="new_password2">Confirm Password<span class="form-required">*</span></label>
            <p>{{ form.new_password2.errors }}</p>
            <input
              type="password"
              name="new_password2"
              class="form-control"
              maxlength="100"
              required
              id="id_new_password2"
            />
          </div>

          <button class="form-btn" type="submit">Update</button>
        </div>
      </form>

      <div class="delete-btn-container">
        <a class="delete-btn" href="{% url 'account:delete_account' %}">Delete Account</a>
      </div>
    </div>
  </span>
</div>

{% endblock %}
