{% extends 'navs/customer-nav.html' %} {% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>{{store.store_name }} - {{request.user.full_name}}</title>
  {% endblock %}
</head>
<body>
{% block content %}
<div class="store-page-container">
  <span class="customer-profile-container">
    {% include 'navs/customer-side-nav.html' %}
    <div class="account-form-container">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="above-create-form">
          <p>My Address</p>
        </div>

        <div class="acc-form-seg">
            <p>Location Info</p>
          <div class="input-container">
            <label for="postcode">Post Code</label>
            <p>{{ address_form.postcode.errors }}</p>
            {{address_form.postcode}}
          </div>

          <div class="input-container">
            <label for="address_line">Address<span class="form-required">*</span></label>
            <p>{{ address_form.address_line.errors }}</p>
            {{address_form.address_line}}
          </div>

          <div class="input-container">
            <label for="address_line2">Address 2</label>
            <p>{{ address_form.address_line2.errors }}</p>
            {{address_form.address_line2}}
          </div>

          <div class="input-container">
            <label for="delivery_instructions">Delivery Instructions</label>
            <p>{{ address_form.delivery_instructions.errors }}</p>
            {{address_form.delivery_instructions}}
          </div>
          
          <div class="input-container">
            <label for="country">Country<span class="form-required">*</span></label>
            <p>{{ address_form.country.errors }}</p>
            <select name="country" class="countries form-control" id="country">
              <option value="">Select Country</option>
               {% for key, value in country_names %}
              <option id="{{value}}" value="{{ key }}">{{ key }}</option>
              {% endfor %}
            </select>
          </div>
       

          <div class="input-container">
            <label for="state">State<span class="form-required">*</span></label>
            <p>{{ address_form.state.errors }}</p>
            <select name="state" class="states form-control" id="state">
              <option value="">Select State</option>
            </select>
          </div>
      

        <div class="form-btn-container">
          <button class="form-btn" type="submit">
            {% if 'create' in request.get_full_path %}
            Create
            {% else %}
            Update
            {% endif %}
          </button>
        </div>
        </div>
      </form>
    </div>
  </span>
</div>
</body>
</html>
<script>
$(document).ready(function(){
    $("#country").change(function(){
        var country = $(this).id();
        console.log(country);
        $.ajax({
          type: "POST",
          url : "{% url 'app:get_state' 'country' %}".replace('country', country),
          
          data: 
          {
            country: country,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(data){
            console.log(data);        
            $('#state').empty();
            $.each(data.states, function(key, value) {
              $('#state').append($('<option>', {value: value[1], text: value[0] }));
            });
            
          }
      });
     
    });
});
</script>
{% endblock %}






