{% extends 'navs/customer-nav.html' %} {% load static %}{% load humanize %}{% block title %}<title>
 Shopit - {{request.user.full_name }} - {% if 'unpaid' in request.get_full_path %}Unpaid{% endif %} Order
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  <span class="customer-profile-container">
    {% include 'navs/customer-side-nav.html' %}
    <div class="store-content-container">
      <span class="store-products-container">
        <p>My {% if 'unpaid' in request.get_full_path %}Unpaid{% endif %} Orders</p>
          <p>
            {% if 'unpaid' in request.get_full_path %}
            <a href="{% url 'customer:customer_orders' store.slugified_store_name %}">Paid Orders</a>           
              <small>Unpaid orders will be deleted after 30 days</small>
            {% else %}
            <a href="{% url 'customer:unpaid_customer_orders' store.slugified_store_name %}">Unpaid Orders</a>
            {% endif %}
          </p>
        <div class="table-container">
          <table class="store-products-table">
          <tr class="table-rows">
            <th>Order Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Billing Status</th>
            {% if 'unpaid' in request.get_full_path %}
            <th>Delete</th>
            {% endif %}
          </tr>
          {% for order in orders %}
         
          <tr class="table-rows">
            <td><a href="{% url 'customer:customer_order_detail' store.slugified_store_name order.pk %}">{{order.id|truncatechars:12}}</a></td>
          <td> {% if payment.full_name %}
            {{ payment.full_name }}
            {% elif payment.order.user %}
            {{payment.order.user.full_name}}
            {% else %}
           {{customer.full_name}}
            {% endif %}
          </td>
          <td>
            {% if payment.order.user %}
            {{ order.user.email }}
            {% elif payment.email %}
            {{ payment.email}}
            {% else %}
            {{customer.email}}
            {% endif %}
          </td>
          <td> 
            {{order.currency_symbol}}
            {% if payment.currency %}
              {{ payment.amount|intcomma}}
            {% else %}
            {{ order.amount|intcomma }}
            {% endif %}         
          </td>
          <td>{% if order.billing_status == True %}
            Paid
            {% else %}
            Unpaid
            {% endif %}
          </td>
           {% if 'unpaid' in request.get_full_path %}
          <td>
            <a href="{% url 'customer:delete_unpaid_order' slugified_store_name=store.slugified_store_name pk=order.pk %}">Delete</a>
          </td>
           {% endif %}
          </tr>
          {% endfor %}
        </table>
        </div>
        
        {% if orders.has_other_pages %}
      <span class="pagination">
        <span>
          {% for i in orders.paginator.page_range %} {% if orders.number == i %} Showing
          {{orders.start_index }} of {{ orders.end_index }} of {{ orders.paginator.count }} 
          entries {% endif %} {% endfor %}
        </span>

        <span>
          {% if orders.has_previous %}
          <a href="?page={{ orders.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-left disable"></i></span>
          {% endif %} {% if orders.has_next %}
          <a href="?page={{ orders.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
          {% else %}
          <span><i class="fas fa-arrow-right disable"></i></span>
          {% endif %}
      </span>
      </span>
      {% endif %}
    </div>
  </span>
  {% endblock %}
</div>
