{% extends 'navs/customer-nav.html' %} {% load static %}{% load humanize %}{% block title %}<title>
  Shop !t - {{request.user.full_name }} WishList
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  <span class="customer-profile-container">
    {% include 'navs/customer-side-nav.html' %}
    <div class="store-content-container">
      <span class="store-products-container">
        <p>My Orders</p>
        <table class="store-products-table">
          <tr class="table-rows">
            <th>Order Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Billing Status</th>
          </tr>
          {% for order in orders %}
          <tr class="table-rows">
            <td><a href="{% url 'customer:customer_order_detail' store.slugified_store_name order.pk %}">{{order.id|truncatechars:12}}</a></td>
          <td> {% if payment.full_name %}
            {{ payment.full_name }}
            {% elif payment.order.user %}
            {{payment.order.user.full_name}}
            {% else %}
           {{customer.full_name}}
            {% endif %}
          </td>
          <td>
            {% if payment.order.user %}
            {{ order.user.email }}
            {% elif payment.email %}
            {{ payment.email}}
            {% else %}
            {{customer.email}}
            {% endif %}
          </td>
          <td> 
            {{order.currency_symbol}}
            {% if payment.currency %}
              {{ payment.amount|intcomma}}
            {% else %}
            {{ order.amount|intcomma }}
            {% endif %}         
          </td>
          <td>{% if order.billing_status == True %}
            Paid
            {% else %}
            Unpaid
            {% endif %}
          </td>
          </tr>
          {% endfor %}
        </table>
      </span>
    </div>
  </span>
  {% endblock %}
</div>
