{% extends 'navs/customer-nav.html' %} {% load static %} {% block title %}<title>
  Shop !t - {{request.user.full_name }} Review
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  <span class="customer-profile-container">
    {% if request.user.is_authenticated %}
    {% include 'navs/customer-side-nav.html' %}
    {% endif %}
    <div class="review-content-container">
      <span class="review-container">
        <p>{{review.title}}</p>
        <div>
          {% if review.product %}
          <div class="review-realated-product">
            <p>Related Product</p>
            <div>
              <a
                href="{% url 'customer:customer_product_detail' slugified_store_name=store.slugified_store_name slug=review.product.slug %}"
                >{{review.product}}</a
              >
            </div>
          </div>
          {% endif %}

          <div>
            {% if request.user.is_authenticated %}
            {% if request.user.email == review.email %}
            <span>
              <button type="button" class="update-btn">
                <a href="{% url 'customer:edit_review' slugified_store_name=store.slugified_store_name pk=review.id %}"><i class="far fa-edit"></i>Update</a>
              </button>
              <button type="button" class="delete-btn">
                <a href="{% url 'customer:delete_review' slugified_store_name=store.slugified_store_name pk=review.id %}"><i class="fas fa-trash-alt"></i>Delete</a>
              </button>
              {% endif %}
              {% endif %}
            </span>
            <p>Comment</p>
            {{review.comment}}
          </div>
        </div>
      </span>
    </div>
  </span>
  {% endblock %}
</div>
