{% extends 'navs/customer-nav.html' %} {% load static %}{% block title %}<title>
  Shop !t - {{request.user.full_name }} WishList
</title>
{% endblock %} {% block content %}
<div class="store-page-container">
  <span class="customer-profile-container">
    {% include 'navs/customer-side-nav.html' %}
    <div class="store-content-container">
      <span class="store-products-container">
        <p>My Orders</p>
        <table class="store-products-table">
          <tr class="table-rows">
            <th>Order Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Billing Status</th>
          </tr>
          {% for order in orders %}
        {% for payment in payments %}
          <tr class="table-rows">
            <td><a href="">{{order.id|truncatechars:12}}</a></td>
          <td> {% if order.user %}
            {{ order.user.full_name }}
            {% else %}
            {{payment.full_name}}
            {% endif %}
          </td>
          <td>
            {% if order.user %}
            {{ order.user.email }}
            {% else %}
            {{payment.email}}
            {% endif %}
          </td>
          <td>{{payment.currency.symbol}}{{ payment.amount }}</td>
          <td>{% if order.billing_status == True %}
            Paid
            {% else %}
            Unpaid
            {% endif %}
          </td>
          </tr>
          {% endfor %}
        {% endfor %}
        </table>
      </span>
    </div>
  </span>
  {% endblock %}
</div>
