{% extends 'navs/customer-nav.html' %} {% load static %} {% block title %} <title>Shop!t - Customer Login</title>
{% endblock %} {% block content %}

<div class="auth-form-container">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="above-create-form">
      <p>Customer Sign Up</p>
    </div>
    {% if messages %} {% for message in messages %}
    <p class="login-errors">{{message}}</p>
    {% endfor %} {% endif %} {% if error %}
    <p class="login-errors">{{error}}</p>
    {% endif %}

    <div class="input-container">
      <label for="email">Email<span class="form-required">*</span></label>
      <p>{{ form.email.errors }}</p>
      <div>{{ form.email }}</div>
    </div>

    <button class="form-btn" type="submit">Sign Up</button>
  </form>
</div>

{% endblock %}
