{% extends 'navs/base.html' %} {% load static %} {% block title %}<title>Shop !t - HomePage</title> {% endblock %} {% block content %}
<div data-aos="zoom-in" data-aos-duration="1500" class="intro">
  {% if messages %} {% for message in messages %} {% if message %}
    <small class="error">{{message}}</small>
    {% endif %} {% endfor %} {% endif %}
  <p>Run business at your comfort with <br />Shopit</p>
  <div>
    The platform that equips you with the efficient tools to run your business online(digitally).
  </div>
  <a href="{% url 'account:register' %}" class="get-started-btn">Get Started</a>
</div>
<span class="illustration-sec-1">
  <img
    data-aos="fade-up"
    data-aos-duration="1500"
    class="illustration-image"
    src="{% static 'images/illustrations/illustration-1.png' %}"
    alt=""
  />
  <img
    data-aos="fade-down"
    data-aos-duration="1500"
    class="illustration-image"
    src="{% static 'images/illustrations/illustration-2.png' %}"
    alt=""
  />
</span>

<div class="illustration-grid-sec">
  <div>
    <div data-aos="fade-right" data-aos-duration="1500" >
    <div class="an-illustration-grid">
      <p>Intuitive and Friendly User Experience</p>
      <div class="illustration-container">
        <img class="illustration-image" src="{% static 'images/illustrations/illustration-3.png' %}" alt="" />
      </div>

      <div class="illustration-grid-content">
        Shopit is accessible for everyone. The flow, visual interface and store analytics are all easy to use and interact with.
      </div>
    </div>
  </div>
  </div>

  <div>
    <div data-aos="fade-left" data-aos-duration="1500">
    <div class="an-illustration-grid">
      <p>For Store owners, staffs and customers</p>
      <div class="illustration-container">
        <img class="illustration-image" src="{% static 'images/illustrations/illustration-4.png' %}" alt="" />
      </div>

      <div class="illustration-grid-content">
        You can operate on Shopit as either a store owner or a staff. You can also be a customer and buy products from other stores.
      </div>
    </div>
  </div>
  </div>

  <div>
    <div data-aos="fade-right" data-aos-duration="1500">
    <div class="an-illustration-grid">
      <p>Online/ Digital Personalized store</p>
      <div class="illustration-container">
        <img class="illustration-image" src="{% static 'images/illustrations/illustration-5.png' %}" alt="" />
      </div>
      <div class="illustration-grid-content">
        You can create your personal store, run it with utmost privacy and control with your business strategy.
      </div>
    </div>
  </div>
  </div>

  <div>
    <div data-aos="fade-left" data-aos-duration="1500">
    <div class="an-illustration-grid">
      <p>Inventory and Orders Tracking</p>
      <div class="illustration-container">
        <img class="illustration-image" src="{% static 'images/illustrations/illustration-6.png' %}" alt="" />
      </div>
      <div class="illustration-grid-content">
        We have a dedicated inventory system that tracks your products and notifies you when they are low and your store orders.
      </div>
    </div>
  </div>
  </div>
</div>

<div>
  <div data-aos="fade-up" data-aos-duration="1500">
  <div class="payment-illustration-sec">
    <p>Secured Payment and Payout(wallet)</p>
    <div class="illustration-container">
      <img class="illustration-image" src="{% static 'images/illustrations/illustration-7.png' %}" alt="" />
    </div>
    <div class="payment-illustration-content">
      Payments transactions are safe and secured with Paystack and Flutterwave. The payout wallet runs like the Paystack payout policy and system.
  </div>
</div>
</div>

<div>
  <div data-aos="fade-down" data-aos-duration="1500" class="outro">
  Set up online store in less than a minute on Shopit for free and experience the simplicity of business.
  <a href="{% url 'account:register' %}" class="get-started-btn">Get Started</a>
</div>
</div>

<div>
  {% include 'navs/footer.html' %} 
</div>
{% endblock %}
