{% autoescape off %} {% load humanize %}
Hi,

I am {{ user.full_name }} and I request to delete my Shopit account and my account is deactivated presently.

        
{% if account_type == Store Creator %}
This action of mine will also will delete my account after a month, {{user.store_name}} store, {% if store_staffs %} {% for staff in store_staffs %} {{ staff }}, as a staffof {{user.store_name }} store and affect possibly everything related.

{% elif account_type == Store Staff %}
This action of mine will also delete my account after a month and affect {% for store in staff_stores %} {{store}} store, {% endfor %} been a staff.

{% else %}
This action will delete my account my account after a month and affect possibly everything related.

{% endif %}

Regards,
{{ user.full_name }}

{% endautoescape %}