{% extends 'navs/base.html' %} {% load static %} {% block title %} <title>Shop!t - Forgot Password</title> {% endblock %}
{% block content %}
<div class="auth-form-container position-absolute-center">
  <form method="post">
    {% csrf_token %}
    <div class="above-create-form">
      <p>Forgot Password</p>
    </div>
    <div class="input-container">
          <label for="old_password">Old Password<span class="form-required">*</span></label>
          <p>{{ form.old_password.errors }}</p>
          <input type="password" name="old_password" class="form-control" required id="id_old_password" />
        </div>

        <div class="input-container">
          <label for="new_password1">New Password<span class="form-required">*</span></label>
          <p>{{ form.new_password1.errors }}</p>
          <input
            type="password"
            name="new_password1"
            class="form-control"
            maxlength="100"
            required
            id="id_new_password1"
          />
        </div>

        <div class="input-container">
          <label for="new_password2">Confirm Password<span class="form-required">*</span></label>
          <p>{{ form.new_password2.errors }}</p>
          <input
            type="password"
            name="new_password2"
            class="form-control"
            maxlength="100"
            required
            id="id_new_password2"
          />
        </div>

    <button class="form-btn" type="submit">Set Password</button>
  </form>
</div>

{% endblock %}