{% extends 'navs/base.html' %} {% load static %} {% block title %} <title>Shopit - Reset Password</title> {% endblock %}
{% block content %}
<div class="auth-form-container position-absolute-center">
  <form action="{% url 'account:password_reset' %}" method="post">
    {% csrf_token %}
    <div class="above-create-form">
      <p>Reset Password</p>
    </div>
    <div class="input-container">
      <label for="email">Email<span class="form-required">*</span></label>
      <p>{{ form.email.errors }}</p>
      <input class="form-control" type="text" name="email" id="email" placeholder="johndoe@gmail.com" />
    </div>

    <button class="form-btn" type="submit">Send E-mail</button>
  </form>
  <div class="form-bottom">
    <a href="{% url 'account:login' %}">Login</a>
  </div>
</div>

{% endblock %}
