{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hi{% endblocktranslate %} {{ user.full_name }},
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at the Shop!t platform{% endblocktranslate %}
{% translate "Kindly go to the following page to reset your password:" %}
{% block reset_link %}
{{ protocol }}{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'If you did not apply for this process, kindly ignore' %} 

{% translate "Thanks for choosing Shop!t!" %}

{% blocktranslate %}The Shop!t team{% endblocktranslate %}

{% endautoescape %}
