{% extends 'navs/base.html' %} {% load static %} {% block title %}<title>Shop !t - Password Reset Info</title> {% endblock %} {% block content %}
<div class="success-page-container">
  <div class="success-page-content-container">
    <p>Your Shop!t account password has been reset</p>
    <div class="success-image-container">
      <img class="success-image" src="{% static 'images/illustrations/success-illustration.png' %}" alt="" />
    </div>
    {% if 'email' in request.get_full_path %}
    <div>Check your email for instructions, the password reset link will be invalid in the next 30 minutes</div>
    {% endif %}

    {% if 'complete' in request.get_full_path %}
    <div>Your password has been reset successfully, <a href="{% url 'account:login' %}">Login</a> to your account.</div>
    {% endif %}
  </div>
</div>
{% endblock %}