{% extends 'navs/base.html' %} {% load static %} {% block title %} <title>Shop!t - Password Reset Confirmation</title> {% endblock %}
{% block content %}
<div class="auth-form-container position-absolute-center">
  <form method="post">
    {% csrf_token %}
    <div class="above-create-form">
      <p>Password Reset Confirmation</p>
    </div>
    <div class="input-container">
      <label for="new_password1">Password<span class="form-required">*</span></label>
      <p>{{ form.new_password1.errors }}</p>
      <input class="form-control" type="password" name="new_password1" id="new_password1" placeholder="********" />
    </div>

    <div class="input-container">
      <label for="new_password2">Password 2<span class="form-required">*</span></label>
      <p>{{ form.new_password2.errors }}</p>
      <input class="form-control" type="password" name="new_password2" id="new_password2" placeholder="********" />
    </div>

    <button class="form-btn" type="submit">Set Password</button>
  </form>
</div>

{% endblock %}