{% extends 'navs/store-nav.html' %} {% load static %} {% block title %} <title>Shop!t - Edit Account</title>
{% endblock %} {% block content %}

<div class="store-page-container">
  {% include 'navs/store-side-nav.html' %}

  <div class="account-form-container">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="above-create-form">
        <p>Store Account</p>
      </div>

      <div class="acc-form-seg">
        <p>Store Info</p>
        <div class="input-container">
          <label for="store_image">Store Avatar</label>
          <p>{{ storeform.store_image.errors }}</p>
          {% if account.store_image %}
          <a href="{{account.store_image.url}}">Current Image</a>
          {% endif %}
          <div>{{ storeform.store_image }}</div>
        </div>

        <div class="input-container">
          <label for="store_name">Store Name<span class="form-required">*</span></label>
          <p>{{ storeform.store_name.errors }}</p>
          <div>{{ storeform.store_name }}</div>
        </div>

        <div class="input-container">
          <label for="store_description">About Store</label>
          <p>{{ storeform.store_description.errors }}</p>
          {{storeform.store_description}}
        </div>

        <div>
          <label for="currency">Currency</label>
          <p>{{ storeform.currency.errors }}</p>
          <select name="currency" id="currency" class="form-control">
            {% for currency in currencies %}
            <option value="{{currency.id}}">{{currency.code}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="acc-form-seg">
          <p>Socials</p>
          <div class="input-container">
            <label for="twitter">Twitter</label>
            <p>{{ storeform.twitter.errors }}</p>
            <div>{{ storeform.twitter }}</div>
          </div>

          <div class="input-container">
            <label for="instagram">Instagram</label>
            <p>{{ storeform.instagram.errors }}</p>
            <div>{{ storeform.instagram }}</div>
          </div>

          <div class="input-container">
            <label for="facebook">Facebook</label>
            <p>{{ storeform.facebook.errors }}</p>
            <div>{{ storeform.facebook }}</div>
          </div>
        </div>
      </div>

      <div class="form-btn-container">
        <button class="form-btn" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}
