{% autoescape off %}
Hello {{ store.store_name|capfirst }},

Here is a reminder that your {{duration}} subscription on Shop!t is about to expire in few days time and after it expires your subscription will be renewed automatically(recurring 
subscription) because we would love to see you continously enjoy these exclusive services for the growth and smooth running of your business and online store.

{% if store_owner ==  True %}
{% if recurring_subscription == True %} If you want to opt out from the recurring subscription policy, kindly click <a href=f"https://{{ domain }}" target="_blank" rel="noopener noreferrer">deactivate</a>
{% endif %}

{% if recurring_subscription == False %} If you want to opt in into the recurring subscription policy, kindly click <a href=f"https://{{ domain }}" target="_blank" rel="noopener noreferrer">activate</a>
{% endif %}
{% endif %}

Thank you for your continued support.

Regards,
Shop!t Team
{% endautoescape %}
