{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/email-template.css'%}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
</head>
<body>
    
<div class="email-container">
    <a href="{{domain}}" target="_blank" rel="noopener noreferrer"><img class="logo" src="{% static 'images/logo/Shopit_Blue_logo.png' %}" alt=""></a>
    <p class="introduction">Hello {{ store.store_name|capfirst }},</p>

<div class="body">
    <p>We are sad to make you realise your {{duration}} subscription on Shopit is about to expire in few days time</p>
    <p>After the expiration, your subscription will be renewed automatically(recurring 
    subscription) because we would love to see you continously enjoy these exclusive services for the growth and smooth running of your business and online store.</p>

    <p>If you against the recurring subscription policy for you store, linsly click the below to put a stop</p>

    <a href="{% url 'subscriptions:cancel_recurring_subscription' %}" target="_blank" rel="noopener noreferrer" class="email-btn">Stop Recurring Sub</a>

    
</div>

<p class="conclusion">
    <span>Regards,</span>
    <span>
        Shopit
    </span>
</p>


 <div class="socials">
  <a href="https://twitter.com/chryz_code" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
  <a href="https://github.com/chryz-code/shop-it" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
</div>

</div>
</body>
</html>

