{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/mobile-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/desktop-view.css'%}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    {% block title %}<title>Shop !t</title> {% endblock %}
  </head>
  <body>
    <nav class="nav">
      <span>
        <a href="/" class="main-logo">Shop !t</a>
      </span>

      <ul id="nav-links">
        <li><a href="" id="a-nav-link">Discover</a></li>
        <li><a href="" id="a-nav-link">MarketPlace</a></li>
        <li><a href="" id="a-nav-link">Pricing</a></li>
        <li><a href="" id="a-nav-link">Login</a></li>
        <li><a href="" id="a-nav-link">SignUp</a></li>
      </ul>

      <div id="toogle"></div>
    </nav>
    <div class="main-container">{% block content %} {% endblock %}</div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
