{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
    <link rel="stylesheet" href="{% static 'css/carousel.css'%}" />
    <link rel="stylesheet" href="{% static 'css/mobile-view.css'%}" />
    <link rel="stylesheet" href="{% static 'css/desktop-view.css'%}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    {% block title %}
    <title>Shop !t</title>
    {% endblock %}
  </head>
  <body>
    <nav data-aos="fade-down"  data-aos-duration="1500"  class="nav">
      <span>
        <a href="/" class="main-logo">Shop !t</a>
      </span>

      <ul id="nav-links">
        <li><a href="" id="a-nav-link">Discover</a></li>
        <li><a href="" id="a-nav-link">MarketPlace</a></li>
        <li><a href="" id="a-nav-link">Pricing</a></li>
        <li><a href="" id="a-nav-link">Login</a></li>
        <li><a href="" id="a-nav-link">SignUp</a></li>
      </ul>

      <div id="toogle"></div>
    </nav>
    <div class="main-container">{% block content %} {% endblock %}</div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
