{% extends 'app/base.html' %} {% load static %} {% block content %}
<div class="create-product-container">
  <div class="store-sidenav">
    <span class="store-sidenav-seg">
      <p>{{request.user.store_name}}</p>
      <ul>
        <li><a href="">Customers</a></li>
        <li><a href="">Orders</a></li>
        <li><a href="">Transanction History</a></li>
      </ul>
    </span>
    <span class="store-sidenav-seg">
      <p>Catalog</p>
      <ul>
        <li><a href="">Products</a></li>
        <li><a href="">Reviews</a></li>
      </ul>
    </span>
    <span class="store-sidenav-seg">
      <p>Marketing</p>
      <ul>
        <li><a href="">Discount</a></li>
      </ul>
    </span>
    <span class="store-sidenav-seg">
      <p>Store Settings</p>
      <ul>
        <li><a href="">Store Settings</a></li>
        <li><a href="">Subscription</a></li>
        <li><a href="">Store Custmization</a></li>
        <li><a href="">User Account</a></li>
        <li><a href="">Staff Account</a></li>
        <li><a href="">Import Products</a></li>
      </ul>
    </span>
  </div>

  <div class="create-product-form-container">
    <form action="" method="post" enctype="multipart/form-data" class="create-product-form">
      <div class="above-create-form">
        <p>Create Product</p>
      </div>
      {% csrf_token %}
      <div class="input-container">
        <label for="name">Product Name<span class="form-required">*</span></label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Name of Product" />
      </div>

      <div class="input-container">
        <label for="category">Product Category<span class="form-required">*</span></label>
        <select class="form-control" name="category" id="category">
          <option value="">Select Category</option>
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="input-container">
        <label for="description">Short Description<span class="form-required">*</span></label>
        <textarea
          class="form-control"
          name="description"
          id="description"
          placeholder="Short Description on Project"
        ></textarea>
      </div>

      <div class="input-container">
        {{ form.media }}
        <label for="">Product Details</label>
        <div class="product-detail-input">{{ form.product_details }}</div>
      </div>

      <div class="pricing-quantity-seg">
        <p>Product pricing and quantity</p>
        <div>
          <div class="price-section">
            <span class="input-container">
              <label for="price">Price<span class="form-required">*</span></label>
              <input class="form-control" type="number" name="price" id="price" />
            </span>

            <span class="input-container">
              <label for="discount_percentage">Discount Percentage</label>
              <input class="form-control" type="number" name="discount_percentage" id="discount_percentage" />
            </span>
          </div>

          <div class="quantity-section">
            <span class="input-container">
              <label for="availability">Product Count<span class="form-required">*</span></label>
              <input class="form-control" type="number" name="availability" id="availability" />
            </span>

            <span class="input-container">
              <label for="product_unit">Product Unit<span class="form-required">*</span></label>
              <select class="form-control" id="product_unit" name="product_unit">
                <option value="">Select Unit</option>
                {% for unit in product_units %}
                <option value="{{ unit.id }}">{{ unit.name }}</option>
                {% endfor %}
              </select>
            </span>
          </div>
        </div>
      </div>

      <div class="images-seg">
        <p>Product Images</p>
        <div class="input-container">
          <label for="image_1">Image 1<span class="form-required">*</span></label>
          <input class="form-control" type="file" name="image_1" id="image_1" />
        </div>

        <div class="input-container">
          <label for="image_2">Image 2<span class="form-required">*</span></label>
          <input class="form-control" type="file" name="image_2" id="image_2" />
        </div>

        <div class="input-container">
          <label for="image_3">Image 3</label>
          <input class="form-control" type="file" name="image_3" id="image_3" />
        </div>

        <div class="input-container">
          <label for="image_4">Image 4</label>
          <input class="form-control" type="file" name="image_4" id="image_4" />
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
