{% extends 'navs/base.html' %} {% load static %} {% block title %} <title>Shop!t - Team</title> {% endblock %}
{% block content %}
<div class="company-team-container">
    <p>Shopit Team</p>
    <div class="company-team-grid">
       <div>
         <span class="member-image">
            <img src="https://avatars.githubusercontent.com/u/77321169?v=4" alt="">
        </span>
        <p>Olanrewaju Alaba</p>
        <div>
            Founder and Full Stack Developer
        </div>
          <span class="team-member-social">
            <a href="mailto:alabaolanrewaju13@gmail.com"><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/chryz-code/shop-it" target="_blank" rel="noopener noreferrer"
            ><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/chryz_code" target="_blank" rel="noopener noreferrer"
            ><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/olanrewaju-alaba/" target="_blank" rel="noopener noreferrer"
            ><i class="fab fa-linkedin"></i></a>
          </span>
       </div>
    </div>

</div>

{% endblock %}