{% extends 'navs/base.html' %} {% load static %} {% block title %} <title>Shop!t - Team</title> {% endblock %}
{% block content %}
<div class="company-team-container">
    <p>Shopit Team</p>
    <div>
        <span>
            <img src="https://avatars.githubusercontent.com/u/77321169?v=4" alt="">
        </span>
        <p>Olanrewaju Alaba</p>
        <div>
            Founder and Full Stack Developer
        </div>
        <span>
            
        </span>
    </div>

</div>

{% endblock %}