{% extends 'navs/base.html' %} {% load static %} {% block title %} <title>Shopit - FAQs</title>
{% endblock %} {% block content %}
<div class="company-team-container">
  <p>Frequently Asked Questions</p>
  <div class="faqs-grid">
    <div class="faqs-navigation">
      <p>Quick Navigation</p>
      <ul>
        <li><a href="{% url 'app:faqs' %}#introduction">Introduction</a></li>
        <li><a href="{% url 'app:faqs' %}#sales">Product, Sales, Orders</a></li>
        <li><a href="{% url 'app:faqs' %}#store">Your Online Store</a></li>
        <li><a href="{% url 'app:faqs' %}#charges">Transanction Charges</a></li>
      </ul>
    </div>

    <div>
      <div id="introduction" class="faqs-section">
        <p>Introduction</p>
        <div>
          <div class="faqs-content">
            <p class="faq-content-head" data-index="1" ><span>What is Shopit?</span> <span class="material-icons" id="faqicon1"> add </span></p>
            <div id="faq-content-body1" class="faq-content-body">
              Shopit platform that equips you with the efficient tools to run your business online(digitally) at your
              comfort.
            </div>
          </div>
          <div class="faqs-content">
            <p class="faq-content-head" data-index="2"><span>Tell me more.</span> <span class="material-icons" id="faqicon2"> add </span></p>
            <div id="faq-content-body2" class="faq-content-body">
              Shopit serves more than just an e-commerce platform, it also run as an inventory management system for
              your goods, growth of sales, orders, customers and may more. It gives full data on all transactions made
              both incoming funds and withdrawal(payout). It hosts your products on the internet for better reach and
              communication with customers without any techinical prior technical knowledge or skills.
            </div>
          </div>
          <div class="faqs-content">
            <p class="faq-content-head" data-index="3"><span>What can I do on Shopit?</span> <span class="material-icons" id="faqicon3"> add </span></p>
            <div class="faq-content-body" id="faq-content-body3">
              With Shopit you can get a personalised online store for your business, with a virtual wallet for incoming
              funds. You get to track how well the business is growing(analytics) and also run sales at anytime with the
              use of coupon and contacting customers through the reach of your store newsletter. Delivery of parcels is
              handled by the company itself through partnered logistics services company.
            </div>
          </div>
        </div>
      </div>

      <div class="faqs-section">
        <p>Getting Started</p>
        <div class="faqs-content">
          <p class="faq-content-head" data-index="4"><span>How do I register?</span> <span class="material-icons" id="faqicon4"> add </span></p>
          <div class="faq-content-body" id="faq-content-body4">
            Visit the Shopit official website and navigate to the registeration page which takes you less than a minute
            to create an account. For security and validation reasons, you will have to activate and authenticate(log
            in) your account through a mail that will be sent to the registered email address immediately after signing
            up.
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>
 {% include 'navs/footer.html' %}
 <script>
    const faqContentHead = document.getElementById("faq-content-head");
    const faqContentBody= document.getElementById("faq-content-body");

    
     $(".faq-content-head").click(function (e) {
        e.preventDefault();
        contentId = $(this).data("index")
        body = $("#faq-content-body"+contentId)
        icon = $("#faqicon"+contentId)
        
        if ($(this).hasClass("active")) {
            $(".faq-content-body").removeClass("active");
            $(".faq-content-head").removeClass("active");
            body.removeClass("active")
       
            icon.text("add");
            $(".material-icons").text("add");
            body.slideUp(); 
        } else {   
        $(".faq-content-body").css("display", "none") 
         $(".faq-content-body").removeClass("active");
        $(".faq-content-head").removeClass("active");
        $(this).addClass("active");
        body.addClass("active")
         $(".material-icons").text("add");
        icon.text("remove");
        body.slideDown(); 
        }
     });

 </script>
{% endblock %}
