{% extends 'navs/base.html' %} {% load static %} {% block title %} <title>Shopit - Privacy Policy</title>
{% endblock %} {% block content %}
<div class="company-team-container">
  <p>Privacy Policy</p>

  <div class="docs-container">
    <div class="docs-content">
      <p>Data Privacy, Protection & Cookie Policy</p>
      <div>
        <p>
          This data privacy, protection and cookie policy describes your privacy rights regarding Shopit's (“we”, “us”
          or “our”) collection, use, storage, sharing and protection of your personal information. It applies to our
          website and all related sites, applications, services and tools regardless of how you access or use them. This
          Data Privacy, Protection and Cookie Policy (the “Privacy Policy”) will help you understand how we use your
          information and what we do with it. However, this Privacy Policy does not apply to services that are not owned
          or controlled by Shopit, including third-party websites and the services of other Shopit's merchants. Our goal
          is to handle personal data provided to us in compliance with applicable data privacy and protection laws. This
          Privacy Policy applies to all forms of systems, operations and processes within the Shopit environment that
          involve the collection, storage, use, transmission and disposal of Personal Information.
        </p>

        <p>
          We respect the privacy of our online visitors and registered users (“Users”) as such we will take reasonable
          steps to protect your information. To use our website or any of our products or services, your consent is
          required for the use of your data as described in this Privacy Policy
        </p>
      </div>

      <p>1. Company Overview</p>
      <div>
        <p>
          Shopit provides technology infrastructure to power the growth of small and medium businesses in emerging
          markets.
        </p>
        <p>
          This Privacy Policy is intended to set certain standards across the operations of the Shopit applications.
        </p>
      </div>
      <p>2. Updates, Modifications & Amendments</p>
      <div>
        <p>
          We may need to update, modify or amend our Privacy Policy as our technology evolves and as required by law. We
          reserve the right to make changes to this Privacy Policy from time to time and notify Users of material
          changes. The Privacy Policy will apply from the effective date provided on our website.
        </p>
        <p>
          We advise that you check this page often, referring to the date of the last modification on the page. If a
          User objects to any of the changes to this Privacy Policy, the User must cease using this Site, or terminate
          their account in the event an account has been created.
        </p>
      </div>
      <p>3. Age Restriction</p>
      <div>
        Our website and services are not directed to children under 18. We do not knowingly collect information from
        children under 18. If as a parent or guardian, you become aware that your child or ward child has provided us
        with any information without your consent, please contact us through the details provided in this Privacy
        Policy.
      </div>
      <p>4. The Information we Collect</p>
      <div>4.1 Personal Information</div>
      <div>
        <p>
          As part of our operations, Shopit collects and processes certain types of information (such as name, telephone
          numbers, address etc.) of individuals that makes them easily identifiable. These individuals include current,
          past and prospective employees, merchants, suppliers/vendors, customers of merchants, Users and other
          individuals whom Shopit communicates or deals with, jointly and/or severally.
        </p>
        <p>
          Shopit is firmly committed to complying with applicable data protection laws, regulations, rules and
          principles to ensure security of Personal Information handled by the Company. To gain full access to our
          website and services, you must register for a Shopit account. When you register for an account, we collect
          Personal Information which you voluntarily provide to us. Personal Information refers to information relating
          to an identified person or information that can be used to identify you, (e.g. email address, bank details,
          name, telephone number). It may also include anonymous information that may be linked to you specifically,
          (e.g. IP address).
        </p>
        <p>We use your Personal Information to:</p>
        <ul>
          <li>Provide you with the required services.</li>
          <li>Respond to your questions or requests.</li>
          <li>Improve features, website content and analyse data to develop products and services.</li>
          <li>Address inappropriate use of our website</li>
          <li>Address inappropriate use of our website</li>
          <li>
            Send you marketing content, newsletters and service updates curated by Shopit, however, we will provide you
            with an option to unsubscribe if you do not want to such communique
          </li>
          <li>
            Verify your identity and the information you provide in line with Shopit's statutory obligations using
            internal and third party tools
          </li>
          <li>Maintain up-to-date records</li>
          <li>Resolve disputes that may arise, including investigations by law enforcement or regulatory bodies</li>
          <li>Any other purpose that we disclose to you in the course of providing Shopit services to you</li>
        </ul>
        <p>
          We may retrieve additional Personal Information about you from third parties and other
          identification/verification services such as your financial institution and payment processor. With your
          consent, we may also collect additional Personal Information in other ways including emails, surveys, and
          other forms of communication. Once you begin using our services through your Shopit account we will keep
          records of your transactions and collect information of your other activities related to our services. We will
          not share or disclose your Personal Information with a third party without your consent except as may be
          required for the purpose of providing you with our services or under applicable legislation.
        </p>
        <p>
          In providing you with the services, we may rely on third-party servers located in foreign jurisdictions from
          time to time, which as a result, may require the transfer or maintenance of your personally identifiable
          information on computers or servers in foreign jurisdictions. We will endeavour to ensure that such foreign
          jurisdictions have data protection legislation that is no less than the existing data protection regulations
          in force in Nigeria and your personally identifiable information is treated in a safe and secure manner.
        </p>
      </div>
      <div>4.2 Information that we collect from website visitors</div>
      <div>
        We do not collect your Personal Information when you visit the website. However, so we can monitor and improve
        our website and services we may collect non-personally-identifiable information. We will not share or disclose
        this information with third parties except as a necessary part of providing our website and services. We may use
        the information to target advertisements to you.
      </div>
      <div>4.3 Information that we collect from checkout users</div>
      <div>
        <p>
          When you checkout with Shopit on a merchant's website, we do collect and store your email address, your mobile
          phone number, and billing and shipping address. We do not however collect and store card or banking
          information in whatsoever form.
        </p>
        <p>
          We may share your contact information with merchants as part of your purchase details for record purposes. We
          will not share this information with other third parties except as a necessary part of providing our website
          and services. We do not share your card or banking information with merchants. Please review your merchant's
          privacy policy to understand the privacy policies guiding the merchant you transact with.
        </p>
      </div>
      <div>4.4 Purpose Limitation</div>
      <div>
        Shopit collects Personal Information only for identification purposes and for which consent has been obtained.
        Such Personal Information cannot be reused for another purpose that is incompatible with the original purpose,
        except consent is obtained for such purpose
      </div>
      <div>4.5 Data Minimization</div>
      <div>
        Shopit limits Personal Information collection and usage to data that is relevant, adequate, and absolutely
        necessary for carrying out the purpose for which the data is processed. Shopit will evaluate whether and to what
        extent the processing of Personal Information is necessary and where the purpose allows, anonymized data will be
        used.
      </div>
      <p>5. Cookies</p>
      <div>
        <p>
          We use cookies to identify you as a User and make your user experience easier, customise our services, content
          and advertising; help you ensure that your account security is not compromised, mitigate risk and prevent
          fraud; and to promote trust and safety on our website. Cookies allow our servers to remember IP addresses,
          date and time of visits, monitor web traffic and prevent fraudulent activities.
        </p>
        <p>
          Our cookies never store personal or sensitive information; they simply hold a unique random reference to you
          so that once you visit the site we can recognize who you are and provide certain content to you.
        </p>
        <p>
          If your browser or browser add-on permits, you have the choice to disable cookies on our website, however this
          may impact your experience using our website.
        </p>
      </div>
      <p>6. How We Protect your Information</p>
      <div>
        <p>
          Shopit shall establish adequate controls in order to protect the integrity and confidentiality of Personal
          Information, both in digital and physical format and to prevent Personal Information from being accidentally
          or deliberately compromised.
        </p>
        <p>
          Shopit is committed to managing your Personal Information in line with global industry best practices. We
          protect your Personal Information using physical, technical, and administrative security measures to reduce
          the risks of loss, misuse, unauthorized access, disclosure and alteration, we also use industry recommended
          security protocols to safeguard your Personal Information. Other security safeguards include but are not
          limited to data encryption, firewalls, and physical access controls to our building and files and only
          granting access to Personal Information to only employees who require it to fulfil their job responsibilities.
          Any Personal Information processing undertaken by an employee who has not been authorized to carry such out as
          part of their legitimate duties is unauthorized.
        </p>
        <p>
          Employees may have access to Personal Information only as is appropriate for the type and scope of the task in
          question and are forbidden to use Personal Information for their own private or commercial purposes or to
          disclose them to unauthorized persons, or to make them available in any other way.
        </p>
      </div>
      <p>7. How we share the Personal Information you provide</p>
      <div>
        <p>
          Shopit does not sell, trade or rent personal information to anyone. However, to enable us render our services
          to you on our website, we may share your information with trusted third parties, such third parties include
          financial institutions, payment processors verification services, sanctions screening and identity
          verification services as well as any third parties that you have directly authorized to receive your Personal
          Information. Your Personal Information may be stored in locations outside the direct control of Shopit, for
          instance, on servers or databases co-located with hosting providers.
        </p>
        <p>
          We may disclose your Personal Information in compliance with applicable law or a legal obligation to which we
          are bound. Please note that merchants, sellers, and other Users you buy from or contract with have their
          privacy policies, and although Shopit's Merchant Terms of Use does not allow the other transacting party to
          use your information for anything other than as authorised by you, Shopit is not responsible for their
          actions, including their information protection practices.
        </p>
        <p>
          The use of your information by such third party will be subject to their applicable privacy policy, which you
          should carefully review.
        </p>
      </div>
      <p>8. Transfer of Personal Information</p>
      <div>8.1 Third Party Processor within Nigeria</div>
      <div>
        Shopit may engage the services of third parties in order to process the Personal Information of Data Subjects
        collected by the Shopit. The processing by such third parties shall be governed by a written contract with
        Shopit to ensure adequate protection and security measures are put in place by the third party for the
        protection of Personal Information in accordance with the terms of this Privacy Policy.
      </div>
      <!-- <div>8.2 Transfer of Personal Information to Foreign Country</div> -->
      <div>
        <!-- <p>
          Where Personal Information is to be transferred to a country outside Nigeria, Shopit shall put adequate
          measures in place to ensure the security of such Personal Information. In particular, Shopit shall, among
          other things, confirm whether the country is on the National Information Technology Development Agency
          (“NITDA”) White List of Countries with adequate data protection laws.
        </p> -->
        <p>
          Transfer of Personal Information out of Nigeria would be in accordance with the provisions of the Nigeria Data
          Protection Regulation. Shopit will therefore only transfer Personal Information out of Nigeria on one of the
          following conditions:
        </p>
        <ul>
          <li>The consent of the Data Subject has been obtained;</li>
          <li>
            The transfer is necessary for the performance of a contract between Shopit and the Data Subject or
            implementation of pre-contractual measures taken at the Data Subject's request;
          </li>
          <li>
            The transfer is necessary to conclude a contract between Shopit and a third party in the interest of the
            Data Subject;
          </li>
          <li>The transfer is necessary for reason of public interest;</li>
          <li>The transfer is for the establishment, exercise or defense of legal claims;</li>
          <li>
            The transfer is necessary in order to protect the vital interests of the Data Subjects or other persons,
            where the Data Subject is physically or legally incapable of giving consent.
          </li>
        </ul>
        <p>
          Shopit will take all necessary steps to ensure that Personal Information is transmitted in a safe and secure
          manner. Details of the protection given when your Personal Information is transferred outside Nigeria shall be
          provided to you upon request.
        </p>
      </div>
      <p>9. Grounds for Processing of Personal Information</p>
      <div>
        <p>Processing of Personal Information by Shopit shall be lawful if at least one of the following applies:</p>
        <ul>
          <li>
            The Data Subject has given consent to the processing of his/her Personal Information for one or more
            specific purposes;
          </li>
          <li>
            The processing is necessary for the performance of a contract to which the Data Subject is party or in order
            to take steps at the request of the Data Subject prior to entering into a contract;
          </li>
          <li>Processing is necessary for compliance with a legal obligation to which Shopit is subject;</li>
          <li>
            Processing is necessary in order to protect the vital interests of the Data Subject or of another natural
            person; and
          </li>
          <li>
            Processing is necessary for the performance of a task carried out in the public interest or in exercise of
            official public mandate vested in Shopit.
          </li>
        </ul>
        <p>
          For the purpose of this Privacy Policy, consent means any freely given, specific, informed and unambiguous
          indication of the Data Subject's wishes by which they, through a statement or a clear affirmative action,
          signify their agreement to the processing of Personal Information relating to them.
        </p>
      </div>
      <p>10. Choices and Rights</p>
      <div>
        <p>
          Individuals who have Personal Information held by Shopit are entitled to reach out to Shopit to exercise the
          following rights:
        </p>
        <ul>
          <li>
            Right to request for and access their Personal Information collected and stored. Where data is held
            electronically in a structured form, such as in a Database, the Data Subject has a right to receive that
            data in a common electronic format
          </li>
          <li>Right to information on their personal information collected and stored;</li>
          <li>Right to objection or request for restriction;</li>
          <li>Right to object to automated decision making;</li>
          <li>Right to request rectification and modification of Personal Information which Shopit keeps;</li>
          <li>Right to request for deletion of their data;</li>
          <li>
            Right to request the movement of data from Shopit to a third party; this is the right to the portability of
            data;
          </li>
          <li>Right to object to, and to request that Shopit restricts the processing of their information</li>
        </ul>
        <p>
          Your request will be reviewed by Shopit and carried out except as restricted by law
          or Shopit's statutory obligations. You may decline to provide your personal Information when it is requested
          by Shopit, however, certain services or all the services may be unavailable to you. You may review your
          account settings and update your Personal Information directly or by contacting us.
        </p>
      </div>
      <p>11. The Data that We Retain</p>
      <div>
        <p>
          We will retain your information for as long as your account is active or as needed to provide our services to
          you, comply with our legal and statutory obligations or verify your information with a financial institution.
        </p>
        <p>
          Shopit is statutorily obligated to retain the data you provide us with in order to process transactions,
          ensure settlements, make refunds, identify fraud and in compliance with laws and regulatory guidelines
          applicable to us, our banking providers and card processors
        </p>
        .
        <p>
          Therefore, even after closing your Shopit account, we will retain certain Personal Information and transaction
          data to comply with these obligations. All Personal Information shall be destroyed by Shopit where possible.
          For all Personal Data and records obtained, used and stored by Shopit, we shall perform periodical reviews of
          the data retained to confirm the accuracy, purpose, validity and requirement to retain.
        </p>
        <p>The length of storage of Personal Information shall, amongst other things, be determined by:</p>
        <ul>
          <li>
            The contract terms agreed between Shopit and the Data Subject or as long as it is needed for the purpose for
            which it was obtained; or
          </li>
          <li>Whether the transaction or relationship has statutory implication or a required retention period; or</li>
          <li>
            Whether there is an express request for deletion of Personal Data by the Data Subject, provided that such
            request will only be treated where the Data Subject is not under any investigation which may require Shopit
            to retain such Personal Data or there is no subsisting contractual arrangement with the Data Subject that
            would require the processing of the Personal Data; or
          </li>
          <li>
            Whether Shopit has another lawful basis for retaining that information beyond the period for which it is
            necessary to serve the original purpose.
          </li>
        </ul>
      </div>
      <p>12. Contact Shopit</p>
      <div>
        <p>
          If you have any questions relating to this Privacy Policy or would like to find out more about exercising your
          data protection rights, please reach out to our team via email at <a href="mailto:shopitappsgmail.com">shopitappsgmail.com</a>.
        </p>
        <p>
          Shopit maintains a data breach procedure in order to deal with incidents concerning Personal Information or
          practices leading to the accidental or unlawful destruction, loss, alteration, unauthorized disclosure of, or
          access to, Personal Information transmitted, stored or otherwise processed. You may contact our legal upon
          becoming aware of any breach of Personal Information or if your access credentials have been compromised, to
          enable us to take the necessary steps towards ensuring the security of your Personal Information or account.
        </p>
      </div>
    </div>
  </div>
</div>

{% include 'navs/footer.html' %} {% endblock %}
