{% extends 'navs/base.html' %} {% load static %} {% block title %} <title>Shopit - Terms of Service</title>
{% endblock %} {% block content %}
<div class="company-team-container">
  <p>Terms</p>

  <div class="docs-container">
    <div class="docs-content">
      <p>Acceptable Use Policy</p>

      <div>
        By accessing or using Shopit,you agree to comply with the terms and conditions of this Acceptable Use Policy.
      </div>
    </div>

    <div class="docs-content">
      <p>1. Restricted Activities</p>
      <div>
        <ul>
          <li>You may not use Shopit in connection with any product, service, transaction or activity that</li>
          <li>violates any law or government regulation, or promotes or facilitates such by third parties</li>
          <li>
            violates any rule or regulation of Visa, MasterCard, Verve, or any other electronic funds transfer network
            (each, a “Card Network”)
          </li>
          <li>is fraudulent, deceptive, unfair or predatory</li>
          <li>causes or threatens reputational damage to us or any Card Network involves any of</li>
          <li>the business categories listed in heading 2 below</li>
          <li>in or creates a significant risk of chargebacks, penalties, damages or other harm or liability</li>
        </ul>
      </div>
    </div>

    <div class="docs-content">
      <p>2. Certain Business Categories</p>

      <div>
        You may not use Shopit in connection with any product, service, transaction or activity that:
        <ul>
          <li>
            falls within the Prohibition List of the Nigerian Customs Administration of the Federal Republic of Nigeria
          </li>
          <li>relates to the sale and/or purchase of:</li>
          <ul>
            <li>
              banned narcotics, steroids, certain controlled substances or other products that present a risk a
              consumer's safety
            </li>
            <li>blood, bodily fluids or body parts</li>
            <li>burglary tools</li>
            <li>counterfeit items</li>
            <li>illegal drugs and drug paraphernalia</li>
            <li>fireworks, destructive devices and explosives</li>
            <li>
              identity documents, government documents, personal financial records or personal information (in any form,
              including mailing lists)
            </li>
            <li>lottery tickets, sweepstakes entries or slot machines without the required license</li>
            <li>
              offensive material or hate speech or items that promote hate, violence, racial intolerance, or the
              financial exploitation of a crime
            </li>
            <li>chemicals</li>
            <li>recalled items</li>
            <li>unlicensed financial services, stocks or other securities</li>
            <li>stolen property</li>
            <li>
              items that infringe or violate any copyright, trademark, right of publicity or privacy or any other
              proprietary right under the laws of any jurisdiction
            </li>
            <li>sales of currency without BDC license, certain cryptocurrency operators</li>
            <li>obscene material or pornography</li>
            <li>certain sexually oriented materials or services</li>
            <li>certain firearms, firearm parts or accessories, ammunition, weapons or knives</li>
            <li>
              any product or service that is illegal or marketed or sold in such a way as to create liability to Shopit;
              or
            </li>
            <li>
              production of military and paramilitary wears and accoutrement, including those of the Police and the
              Customs, Immigration and Prison Services
            </li>
          </ul>
          <li>relate to transactions that:</li>
          <ul>
            <li>show the personal information of third parties in violation of applicable law</li>
            <li>
              support pyramid or ponzi schemes, matrix programs, other "get rich quick" schemes or certain multi-level
              marketing programs
            </li>
            <li>
              are associated with purchases of annuities or lottery contracts, lay-away systems, off-shore banking or
              transactions to finance or refinance debts funded by a credit card
            </li>
            <li>pertain to ammunitions and arms; and</li>
            <li>
              involve gambling, gaming and/or any other activity with an entry fee and a prize, including, but not
              limited to casino games, sports betting, horse or greyhound racing, lottery tickets, other ventures that
              facilitate gambling, games of skill (whether or not it is legally defined as a lottery) and sweepstakes
              unless the operator has obtained prior approval from Shopit and the operator and customers are located
              exclusively in jurisdictions where such activities are permitted by law
            </li>
          </ul>
        </ul>
      </div>
    </div>

    <div class="docs-content">
      <p>3. Actions by Shopit</p>
      <div>
        If, in our sole discretion, we believe that you may have engaged in any violation of this Acceptable Use Policy,
        we may (with or without notice to you) take such actions as we deem appropriate to mitigate risk to Shopit and
        any impacted third parties and to ensure compliance with this Acceptable Use Policy. Such actions may include,
        without limitation.
        <ul>
          <li>Blocking the settlement or completion of one or more payments</li>
          <li>Suspending, restricting or terminating your access to and use of the Shopit's Services</li>
          <li>
            Terminating our business relationship with you, including termination without liability to Shopit of any
            payment service agreement between you and Shopit
          </li>
          <li>Taking legal action against you</li>
          <li>
            Contacting and disclosing information related to such violations to (i) persons who have sold/purchased
            goods or services from you, (ii) any banks or Card Networks involved with your business or transactions,
            (iii) law enforcement or regulatory agencies, and (iv) other third parties that may have been impacted by
            such violations; or
          </li>
          <li>
            Assessing against you any fees, penalties, assessments or expenses (including reasonable attorneys' fees)
            that we may incur as a result of such violations, which you agree to pay promptly upon notice.
          </li>
        </ul>
      </div>
    </div>

    <div class="docs-content">
      <p>4. Updates, Modifications & Amendments</p>
      <div>
        <p>
          We may need to update, modify or amend our Acceptable Use Policy at any time. We reserve the right to make
          changes to this Acceptable Use Policy.
        </p>
        <p>We advise that you check this page often, referring to the date of the last modification on the page.</p>
      </div>
    </div>
  </div>

  <div class="docs-container">
    <div class="docs-content">
      <p>Terms of Use</p>
      <div>
        By using this website and any of our websites and/or services, you agree to these Terms of Use. The website
        Privacy Policy, Acceptable Use Policy and Merchant Terms of Service (where applicable) are incorporated by
        reference into these Terms of Use.
      </div>

      <p>About Us</p>
      <div>
        <p>
          Shopit (“we”, “us” or “our”) provides technology infrastructure to businesses enabling them to sell, offline
          and online, keep track of transactions and engage with their customers.
        </p>
        <p>
          We are an independent contractor for all purposes, providing this website and our services on an independent
          service provider basis. We do not have control or assume the liability or legality for the products or
          services that are paid for with our service. We do not guarantee any user's identity and cannot ensure that a
          buyer or seller will complete a transaction.
        </p>
        <p>
          This Terms of Use is an agreement between you and Shopit. It details Shopit's obligations to you. It also
          highlights certain risks on using the services and you must consider such risks carefully as you will be bound
          by the provision of this Agreement through your use of this website or any of our services.
        </p>
        <p>
          This Terms of Use is an agreement between you and Shopit. It details Shopit's obligations to you. It also
          highlights certain risks on using the services and you must consider such risks carefully as you will be bound
          by the provision of this Agreement through your use of this website or any of our services.
        </p>
      </div>

      <p>Privacy Policy</p>
      <div>
        Shopit is committed to managing your Personal Information in line with global industry best practices. You can
        read our Privacy Policy to understand how we use your information and the steps we take to protect your
        information.
      </div>
      <p>Age Restriction</p>
      <div>
        Our website and services are not directed to children under 18. We do not knowingly transact or provide any
        services to children under 18.
      </div>
      <p>Acceptable Use Policy</p>
      <div>
        You are independently responsible for complying with all applicable laws related to your use of our website and
        services. However, by accessing or using Shopit, you agree to comply with the terms and conditions of our
        Acceptable Use Policy which you can read on our Acceptable Use Policy page (above).
      </div>
      <p>Disclaimers</p>
      <div>
        <p>WE TRY TO KEEP Shopit AVAILABLE AT ALL TIMES, BUG-FREE AND SAFE, HOWEVER, YOU USE IT AT YOUR OWN RISK.</p>
        <p>
          OUR WEBSITE AND SERVICES ARE PROVIDED “AS IS” WITHOUT ANY EXPRESS, IMPLIED AND/OR STATUTORY WARRANTIES
          (INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED OR STATUTORY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
          PARTICULAR USE OR PURPOSE, TITLE, AND NON-INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS). WITHOUT LIMITING THE
          GENERALITY OF THE FOREGOING, Shopit MAKES NO WARRANTY THAT OUR WEBSITE AND SERVICES WILL MEET YOUR
          REQUIREMENTS OR THAT OUR WEBSITE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE. NO ADVICE OR
          INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU THROUGH OUR WEBSITE OR FROM Shopit, ITS PARENTS,
          SUBSIDIARIES, OR OTHER AFFILIATED COMPANIES, OR ITS OR THEIR SUPPLIERS (OR THE RESPECTIVE OFFICERS, DIRECTORS,
          EMPLOYEES, OR AGENTS OF ANY SUCH ENTITIES) (COLLECTIVELY, "Shopit PARTIES") SHALL CREATE ANY WARRANTY.
        </p>
      </div>
      <p>Limitation of Liability</p>
      <div>
        IN NO EVENT WILL ANY OF THE Shopit PARTIES BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, CONSEQUENTIAL, PUNITIVE, OR
        EXEMPLARY DAMAGES OR (B) ANY DAMAGES WHATSOEVER IN EXCESS OF THE AMOUNT OF THE TRANSACTION OR TWENTY THOUSAND
        UNITED STATES DOLLARS (US$1,000.00) DOLLARS, WHICHEVER IS LESSER (INCLUDING, WITHOUT LIMITATION, THOSE RESULTING
        FROM LOSS OF REVENUES, LOST PROFITS, LOSS OF GOODWILL, LOSS OF USE, BUSINESS INTERRUPTION, OR OTHER INTANGIBLE
        LOSSES), ARISING OUT OF OR IN CONNECTION WITH Shopit'S WEBSITE OR SERVICES (INCLUDING, WITHOUT LIMITATION, USE,
        INABILITY TO USE, OR THE RESULTS OF USE OF Shopit'S WEBSITES OR SERVICES), WHETHER SUCH DAMAGES ARE BASED ON
        WARRANTY, CONTRACT, TORT, STATUTE, OR ANY OTHER LEGAL THEORY.
      </div>

      <p>Exclusions</p>
      <div>
        Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability
        for certain damages. Accordingly, some of the above disclaimers and limitations of liability may not apply to
        you. To the extent that any Shopit Party may not, as a matter of applicable law, disclaim any implied warranty
        or limit its liabilities, the scope and duration of such warranty and the extent of the Shopit's Party's
        liability shall be the minimum permitted under such applicable law.
      </div>
      <p>Updates, Modifications & Amendments</p>
      <div>
        We may need to update, modify or amend our Terms of Use as our technology evolves. We reserve the right to make
        changes to this Terms of Use at any time by giving notice to users on this page. We advise that you check this
        page often, referring to the date of the last modification on the page If a user objects to any of the changes
        to the Terms of Use, the User must cease using our website and/or services immediately.
      </div>
      <p>Applicable Law</p>
      <div>
        These Terms of Use shall be interpreted and governed by the laws currently in force in the Federal Republic of
        Nigeria.
      </div>
      <p>Legal Disputes</p>
      <div>
        We shall make an effort to settle all disputes amicably. Any dispute arising out of this Terms of Use, which
        cannot be settled, by mutual agreement/negotiation within 1 (one) month shall be referred to arbitration by a
        single arbitrator at the Lagos Multi-Door Courthouse (“LMDC”) and governed by the Arbitration and Conciliation
        Act, Cap A10, Laws of the Federal Republic of Nigeria. The arbitrator shall be appointed by both of us (we and
        you), where both of us are unable to agree on the choice of an arbitrator, the choice of arbitration shall be
        referred to the LMDC. The findings of the arbitrator and subsequent award shall be binding on both of us. Each
        of us shall bear our respective costs in connection with the Arbitration. Venue for the arbitration shall be
        Lagos, Nigeria.
      </div>
      <p>Severability</p>
      <div>
        If any portion of these Terms of Use is held by any court or tribunal to be invalid or unenforceable, either in
        whole or in part, then that part shall be severed from these Terms of Use and shall not affect the validity or
        enforceability of any other part in this Terms of Use.
      </div>
    </div>
  </div>

  <div class="docs-container">
    <div class="docs-content">
      <p>Terms of Service</p>
      <div>
        <p>
          By signing up for an account on this website, any of our websites and/or services, you are deemed a merchant
          and agree to these Merchant Terms of Service (the “Agreement”).
        </p>

        <p>
          PLEASE READ THESE MERCHANT TERMS OF SERVICE CAREFULLY BEFORE SIGNING UP AS A MERCHANT. If you do not agree to
          any or all of these Terms of Service, please do not use this service
        </p>
      </div>

      <p>About Us</p>
      <div>
        <p>
          Shopit (“we”, “us” or “our”) provides technology infrastructure to businesses enabling them to sell, offline
          and online, keep track of transactions and engage with their customers.
        </p>
        <p>
          We are an independent contractor for all purposes, providing this website and our services on an independent
          service provider basis. We do not endorse, have control or assume the liability or legality for the products
          or services that are paid for with our service. We do not guarantee any user's identity and cannot ensure that
          a buyer or seller will complete a transaction.
        </p>
      </div>

      <p>Agreement</p>
      <div>
        These Merchant Terms of Service is an agreement between you and Shopit. It details Shopit's obligations to you.
        It also highlights certain risks on using the services and you must consider such risks carefully as you will be
        bound by the provision of this Agreement through your use of this website or any of our services.
      </div>
      <p>Registration</p>
      <div>
        To use Shopit, you have to create a Shopit account by registering. To register, you will provide us with certain
        information such as your email, first name, last name, business name and phone number and we may seek to verify
        your information, (by ourselves or through third parties), after which we will approve your account unless
        deemed risky. You give us permission to do all these.
      </div>
      <p>Change of Information</p>
      <div>
        In the event that you change any information provided to us at registration including your business name,
        address, financial institution, mode of payments or the products and services that you offer, or where a
        corporate restructuring occurs you agree to notify us within 14 days of such change. We may be unable to respond
        to you if you contact us from an address, telephone number or email account that is not registered with us
      </div>
      <p>Representation and Warranties</p>
      <div>
        You represent and warrant to Shopit that:
        <ul>
          <li>you have full power and authority to enter into, execute, deliver and perform this Agreement;</li>
          <li>
            you are duly organised, authorised and in good standing under the laws of the Federal Republic of Nigeria or
            any state, region or country of your organisation and are duly authorised to do business in all other
            states, regions or countries in which your business operates.
          </li>
        </ul>
      </div>
      <p>Age Restriction</p>
      <div>
        Our website and services are not directed to children under 18. We do not knowingly transact or provide any
        services to children under 18.
      </div>
      <p>Account Security</p>
      <div>
        You agree not to allow anyone else to have or use your password details and to comply with all reasonable
        instructions we may issue regarding account access and security. In the event you share your password details,
        Shopit will not be liable to you for losses or damages. You will also take all reasonable steps to protect the
        security of the personal electronic device through which you access Shopit's services (including, without
        limitation, using PIN and/or password protected personally configured device functionality to access Shopit's
        services and not sharing your device with other people).
      </div>
      <p>Software License</p>
      <div>
        We hereby grant you a revocable, non-exclusive, non-transferable license to use Shopit's APIs, develope's
        toolkit, and other software applications (the “Software”) in accordance with the documentation accompanying the
        Software. This license grant includes all updates, upgrades, new versions and replacement software for your use
        in connection with the Shopit's services. If you do not comply with the documentation and any other requirements
        provided by Shopit, then you will be liable for all resulting damages suffered by you, Shopit and third parties.
        Unless otherwise provided by applicable law, you agree not to alter, reproduce, adapt, distribute, display,
        publish, reverse engineer, translate, disassemble, decompile or otherwise attempt to create any source code that
        is derived from the Software. Upon expiration or termination of this Agreement, you will immediately cease all
        use of any Software.
      </div>
      <p>Trademark License</p>
      <div>
        We hereby grant you a revocable, non-exclusive, non-transferable license to use Shopit's trademarks used to
        identify our services (the “Trademarks”) solely in conjunction with the use of our services. You agree that you
        will not at any time during or after this Agreement assert or claim any interest in or do anything that may
        adversely affect the validity of any Trademark or any other trademark, trade name or product designation
        belonging to or licensed to Shopit (including, without limitation registering or attempting to register any
        Trademark or any such other trademark, trade name or product designation). Upon expiration or termination of
        this Agreement, you will immediately cease all display, advertising and use of all of the Trademarks.
      </div>
      <p>Intellectual Property</p>
      <div>
        <p>
          We do not grant any right or license to any Shopit intellectual property rights by implication, estoppel or
          otherwise other than those expressly mentioned in this Agreement.
        </p>
        <p>
          Each party shall retain all intellectual property rights including all ownership rights, title, and interest
          in and to its own products and services, subject only to the rights and licenses specifically granted herein.
        </p>
      </div>
      <p>Publicity</p>
      <div>
        You hereby grant Shopit permissions to use your name and logo in our marketing materials including, but not
        limited to use on our website, in customer listings, in interviews and in press releases. Such Publicity does
        not imply an endorsement for your products and services.
      </div>
      <p>Confidential Information</p>
      <div>
        <p>
          The parties acknowledge that in the performance of their duties under this Agreement, either party may
          communicate to the other (or its designees) certain confidential and proprietary information, including
          without limitation information concerning each party's services, know how, technology, techniques, or business
          or marketing plans (collectively, the “Confidential Information”) all of which are confidential and
          proprietary to, and trade secrets of, the disclosing party. Confidential Information does not include
          information that: (i) is public knowledge at the time of disclosure by the disclosing party; (ii) becomes
          public knowledge or known to the receiving party after disclosure by the disclosing party other than by breach
          of the receiving party's obligations under this section or by breach of a third party's confidentiality
          obligations; (iii) was known by the receiving party prior to disclosure by the disclosing party other than by
          breach of a third party's confidentiality obligations; or (iv) is independently developed by the receiving
          party.
        </p>
        <p>
          As a condition to the receipt of the Confidential Information from the disclosing party, the receiving party
          shall: (i) not disclose in any manner, directly or indirectly, to any third party any portion of the
          disclosing party's Confidential Information; (ii) not use the disclosing party's Confidential Information in
          any fashion except to perform its duties under this Agreement or with the disclosing party's express prior
          written consent; (iii) disclose the disclosing party's Confidential Information, in whole or in part, only to
          employees and agents who need to have access thereto for the receiving party's internal business purposes;
          (iv) take all necessary steps to ensure that its employees and agents are informed of and comply with the
          confidentiality restrictions contained in this Agreement; and (v) take all necessary precautions to protect
          the confidentiality of the Confidential Information received hereunder and exercise at least the same degree
          of care in safeguarding the Confidential Information as it would with its own confidential information, and in
          no event shall apply less than a reasonable standard of care to prevent disclosure.
        </p>
      </div>
      <p>Know Your Customer</p>
      <div>
        <p>
          You agree that you are solely responsible for verifying the identities of your customers, ensuring that they
          are authorised to carry out the transactions on your platform, and determining their eligibility to purchase
          your products and services.
        </p>
        <p>
          You are also required to maintain information and proof of service or product delivery to your customer. Where
          a dispute occurs needing resolution, you may be required to provide Shopit with these.
        </p>
      </div>
      <p>Payment gateways</p>
      <div>
        Rules Each payment gateway and card network has its own rules, regulations and guidelines. You are required to
        comply with all applicable payment Network Rules that are applicable to merchants. You can review portions of
        the Network Rules at Mastercard, Visa, Verve and other payment cards. The Payment gateways and Card Networks
        reserve the right to amend the Network Rules.
      </div>
      <p>Customer Payments</p>
      <div>
        <p>
          You may only process payments when authorised to do so by your customer. We will only process transactions
          that have been authorised by the applicable Card Network or card issuer.
        </p>
        <p>
          We do not guarantee or assume any liability for transactions authorised and completed that are later reversed
          or charged back (see Chargebacks below). You are solely responsible for all reversed or charged back
          transactions, regardless of the reason for, or timing of, the reversal or chargeback. Shopit may add or remove
          one or more payment types or networks at any time. If we do so we will use reasonable efforts to give you
          prior notice of the removal.
        </p>
      </div>
      <p>Restricted Activities & Acceptable Use Policy</p>
      <div>
        You are independently responsible for complying with all applicable laws related to your use of our website and
        services. However, by accessing or using Shopit, you agree to comply with the terms and conditions of our
        Acceptable Use Policy and are restricted from the activities specified in it which you can read on our
        Acceptable Use Policy page.
      </div>
      <p>Privacy Policy</p>
      <div>
        Shopit is committed to managing your Personal Information in line with global industry best practices. You can
        read our Privacy Policy to understand how we use your information and the steps we take to protect your
        information.
      </div>
      <p>Disclaimers</p>
      <div>
        WE TRY TO KEEP Shopit AVAILABLE AT ALL TIMES, BUG-FREE AND SAFE, HOWEVER, YOU USE IT AT YOUR OWN RISK. OUR
        WEBSITE AND SERVICES ARE PROVIDED “AS IS” WITHOUT ANY EXPRESS, IMPLIED AND/OR STATUTORY WARRANTIES (INCLUDING,
        BUT NOT LIMITED TO, ANY IMPLIED OR STATUTORY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE OR
        PURPOSE, TITLE, AND NON-INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS). WITHOUT LIMITING THE GENERALITY OF THE
        FOREGOING, Shopit MAKES NO WARRANTY THAT OUR WEBSITE AND SERVICES WILL MEET YOUR REQUIREMENTS OR THAT OUR
        WEBSITE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN,
        OBTAINED BY YOU THROUGH OUR WEBSITE OR FROM Shopit, ITS PARENTS, SUBSIDIARIES, OR OTHER AFFILIATED COMPANIES, OR
        ITS OR THEIR SUPPLIERS (OR THE RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS OF ANY SUCH ENTITIES)
        (COLLECTIVELY, "Shopit PARTIES") SHALL CREATE ANY WARRANTY.
      </div>
      <p>Limitation of Liability</p>
      <div>
        IN NO EVENT WILL ANY OF THE Shopit PARTIES BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, CONSEQUENTIAL, PUNITIVE, OR
        EXEMPLARY DAMAGES OR (B) ANY DAMAGES WHATSOEVER IN EXCESS OF THE AMOUNT OF THE TRANSACTION OR TWENTY THOUSAND
        UNITED STATES DOLLARS (US$1,000.00) DOLLARS, WHICHEVER IS LESSER (INCLUDING, WITHOUT LIMITATION, THOSE RESULTING
        FROM LOSS OF REVENUES, LOST PROFITS, LOSS OF GOODWILL, LOSS OF USE, BUSINESS INTERRUPTION, OR OTHER INTANGIBLE
        LOSSES), ARISING OUT OF OR IN CONNECTION WITH Shopit'S WEBSITE OR SERVICES (INCLUDING, WITHOUT LIMITATION, USE,
        INABILITY TO USE, OR THE RESULTS OF USE OF Shopit'S WEBSITES OR SERVICES), WHETHER SUCH DAMAGES ARE BASED ON
        WARRANTY, CONTRACT, TORT, STATUTE, OR ANY OTHER LEGAL THEORY.
      </div>
      <p>Exclusions</p>
      <div>
        Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability
        for certain damages. Accordingly, some of the above disclaimers and limitations of liability may not apply to
        you. To the extent that any Shopit Party may not, as a matter of applicable law, disclaim any implied warranty
        or limit its liabilities, the scope and duration of such warranty and the extent of the Shopit’s Party's
        liability shall be the minimum permitted under such applicable law.
      </div>
      <p>Indemnity</p>
      <div>
        You agree to defend, indemnify, and hold Shopit, its officers, directors, employees, agents, licensors, and
        suppliers, harmless from and against any claims, actions or demands, liabilities and settlements including
        without limitation, reasonable legal and accounting fees, resulting from, or alleged to result from, your
        violation of these Agreement.
      </div>
      <p>Updates, Modifications & Amendments</p>
      <div>
        We may need to update, modify or amend our Merchant Terms of Service as our technology evolves. We reserve the
        right to make changes to this Merchant Terms of Service at any time by giving notice to users on this page. We
        advise that you check this page often, referring to the date of the last modification on the page If you have
        any objection to any of the changes to this Merchant Terms of Service, you must cease using our website and/or
        services immediately.
      </div>
      <p>Applicable</p>
      <div>
        Law These Terms of Use shall be interpreted and governed by the laws currently in force in the Federal Republic
        of Nigeria.
      </div>
      <p>Legal Disputes</p>
      <div>
        We shall make an effort to settle all disputes amicably. Any dispute arising out of this Agreement which cannot
        be settled, by mutual agreement/negotiation within 1 (one) month shall be referred to arbitration by a single
        arbitrator at the Lagos Multi-Door Courthouse (“LMDC”) and governed by the Arbitration and Conciliation Act, Cap
        A10, Laws of the Federal Republic of Nigeria. The arbitrator shall be appointed by both of us (we and you),
        where both of us are unable to agree on the choice of an arbitrator, the choice of arbitration shall be referred
        to the LMDC. The findings of the arbitrator and subsequent award shall be binding on both of us. Each of us
        shall bear our respective costs in connection with the Arbitration. Venue for the arbitration shall be Lagos,
        Nigeria.
      </div>
      <p>Severability</p>
      <div>
        If any portion of these Terms of Use is held by any court or tribunal to be invalid or unenforceable, either in
        whole or in part, then that part shall be severed from these Terms of Use and shall not affect the validity or
        enforceability of any other part in this Terms of Use.
      </div>
      <p>Miscellaneous</p>
      <div>
        You agree that all agreements, notices, disclosures and other communications that we provide to you
        electronically satisfy any legal requirement that such communications be in writing. Assigning or
        sub-contracting any of your rights or obligations under these Terms of Use to any third party is prohibited. We
        reserve the right to transfer, assign or subcontract the benefit of the whole or part of any rights or
        obligations under these Terms of Use to any third party.
      </div>

      <p><p>Effective Date: Friday, April 30, 2021</p></p>
    </div>
  </div>
</div>
{% include 'navs/footer.html' %} {% endblock %}
