{% extends 'navs/base.html' %} {% load static %} {% block title %} <title>Shopit - Terms of Service</title>
{% endblock %} {% block content %}
<div class="company-team-container">
  <p>Terms</p>

  <div class="docs-container">
    <div class="docs-content">
      <p>Acceptable Use Policy</p>

      <div>
        By accessing or using Shopit,you agree to comply with the terms and conditions of this Acceptable Use Policy.
      </div>
    </div>

    <div class="docs-content">
      <p>1. Restricted Activities</p>
      <div>
        <ul>
            <li>You may not use Shopit in connection with any product, service, transaction or activity that</li>
            <li>violates any law or government regulation, or promotes or facilitates such by third parties</li>
            <li>violates any rule or regulation of Visa, MasterCard, Verve, or any other electronic funds transfer network (each, a “Card Network”)</li>
            <li>is fraudulent, deceptive, unfair or predatory</li>
            <li>causes or threatens reputational damage to us or any Card Network involves any of</li>
            <li>the business categories listed in heading 2 below</li>
            <li>in or creates a significant risk of chargebacks, penalties, damages or other harm or liability</li>
        </ul>
      </div>
    </div>

    <div class="docs-content">
      <p>2. Certain Business Categories</p>

      <div>
        You may not use Bumpa in connection with any product, service, transaction or activity that:
        <ul>
            <li>falls within the Prohibition List of the Nigerian Customs Administration of the Federal Republic of Nigeria</li>
            <li>relates to the sale and/or purchase of:</li>
            <ul>
                <li>banned narcotics, steroids, certain controlled substances or other products that present a risk a consumer's safety</li>
                <li>blood, bodily fluids or body parts</li>
                <li>burglary tools</li>
                <li>counterfeit items</li>
                <li>illegal drugs and drug paraphernalia</li>
                <li>fireworks, destructive devices and explosives</li>
                <li>identity documents, government documents, personal financial records or personal information (in any form, including mailing lists)</li>
                <li>lottery tickets, sweepstakes entries or slot machines without the required license</li>
                <li>offensive material or hate speech or items that promote hate, violence, racial intolerance, or the financial exploitation of a crime</li>
                <li>chemicals</li>
                <li>recalled items</li>
                <li>unlicensed financial services, stocks or other securities</li>
                <li>stolen property</li>
                <li>items that infringe or violate any copyright, trademark, right of publicity or privacy or any other proprietary right under the laws of any jurisdiction</li>
                <li>sales of currency without BDC license, certain cryptocurrency operators</li>
                <li>obscene material or pornography</li>
                <li>certain sexually oriented materials or services</li>
                <li>certain firearms, firearm parts or accessories, ammunition, weapons or knives</li>
                
            </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
{% include 'navs/footer.html' %}
{% endblock %}
